/* START CUSTOM DNE-CARDS STYLES */

/* START ECHO UPDATE */
#dne-card-dragula .card__preview-img {
    max-height: 263px!important;
    margin: 0 auto;
}

#dne-card-net-troll .card__preview-img {
    max-height: 225px!important;
    margin: 0 auto;
}
/* END ECHO UPDATE */

#dne-card-album-vampire-the-masquerade-bloodlines .card__header.--flip {
    display: none!important;
}

#dne-card-album-vampire-the-masquerade-bloodlines .card__preview {
    margin-bottom: 0!important;
}

#dne-card-album-vampire-the-masquerade-bloodlines .card {
    padding-bottom: 0!important;
}

#dne-card-album-farwalker .card__preview {
    position: relative;
    top: -4px;
}

#dne-card-album-chemical-love-story .card__header.--flip {
    display: none!important;
}

#dne-card-album-chemical-love-story .card__preview {
    margin-bottom: 0!important;
}

#dne-card-album-spiral .card__preview {
    position: relative;
    left: -1.5px;
    transform: scale(1.02);
}

#dne-card-demo-sekia-sessions .card__header.--flip {
    display: none!important;
}

#dne-card-demo-sekia-sessions .card__preview {
    margin-bottom: 0!important;
}

#dne-card-album-supersonic-megafauna-collision .card__header.--flip {
    display: none!important;
}

#dne-card-album-supersonic-megafauna-collision .card__preview {
    margin-bottom: 0!important;
}

#dne-card-album-doom-session-2 .card__header.--flip {
    display: none!important;
}

#dne-card-album-doom-session-2 .card__preview {
    margin-bottom: 0!important;
}

#dne-card-album-motion-regime .card__header.--flip {
    display: none!important;
}

#dne-card-album-motion-regime .card__preview {
    margin-bottom: 0!important;
}

#dne-card-demo-journey-into-abstract .card__header.--flip {
    display: none!important;
}

#dne-card-demo-journey-into-abstract .card__preview {
    margin-bottom: 0!important;
}

#dne-card-album-royal-noises-from-dead-kingdoms .card__header.--flip {
    display: none!important;
}

#dne-card-album-royal-noises-from-dead-kingdoms .card__preview {
    margin-bottom: 0!important;
}

/*#dne-card-album-psycho-tropical-berlin .card__header.--flip {*/
/*    display: none!important;*/
/*}*/

/*#dne-card-album-psycho-tropical-berlin .card__preview {*/
/*    margin-bottom: 0!important;*/
/*}*/

#dne-card-album-anon-database .card__header:not(.--flip) {
    margin-bottom: -1px;
}

#dne-card-album-i-no-longer-fear .card__header.--flip {
    display: none!important;
}

#dne-card-album-i-no-longer-fear .card__preview {
    margin-bottom: 0!important;
}

#dne-card-album-how-to-see-through-walls .card__header.--flip {
    display: none!important;
}

#dne-card-album-how-to-see-through-walls .card__preview {
    margin-bottom: 0!important;
}

#dne-card-album-intermission .card__preview {
    position: relative;
    top: -10px;
}

#dne-card-demo-tweeman .card__preview,
#dne-card-demo-jing .card__preview,
#dne-card-demo-courtesy .card__preview,
#dne-card-demo-jelz .card__preview,
#dne-card-demo-lolsnake .card__preview,
#dne-card-demo-marum-future .card__preview,
#dne-card-demo-smith .card__preview,
#dne-card-demo-fracture .card__preview,
#dne-card-demo-nite-fleit .card__preview,
#dne-card-demo-madness .card__preview,
#dne-card-demo-sim0ne .card__preview,
#dne-card-demo-oneman .card__preview,
#dne-card-demo-dj-perception .card__preview,
#dne-card-demo-jordss .card__preview,
#dne-card-demo-neffa-t .card__preview,
#dne-card-demo-wallflower .card__preview,
#dne-card-demo-sol-ortega .card__preview,
#dne-card-demo-isabelle-beaucamp .card__preview,
#dne-card-demo-deep-syth-journey .card__preview,
#dne-card-demo-mission-london .card__preview,
#dne-card-demo-how-to-disappear .card__preview,
#dne-card-demo-rouge .card__preview,
#dne-card-demo-dj-nina-eba .card__preview,
#dne-card-demo-filmmaker .card__preview,
#dne-card-demo-eid55558 .card__preview,
#dne-card-demo-yousuke-yukimatsu .card__preview,
#dne-card-demo-muravyova .card__preview {
    transform: scale(1.8);
}

#dne-card-demo-autonomous-aka-slam .card__preview {
    transform: scale(1.8) translate(12px, 0px);
}

#dne-card-demo-thom-yorke .card__preview {
    transform: scale(1.5) translate(40px, 0px);
}

#dne-card-demo-phonk-cloud .card__preview {
    transform: scale(1.5) translate(-10px, 0px);
}

#dne-card-demo-chill-out .card__preview {
    transform: scale(1.45) translate(-5px, 0px);
}

#dne-card-demo-mac-lofi .card__preview {
    transform: scale(1.3);
}

#dne-card-demo-420mix .card__preview {
    transform: scale(1.79) rotate(90deg);
}

#dne-card-demo-420mix .card__header:not(.--flip) {
    position: relative;
    z-index: 2;
}

#dne-card-demo-420mix .card__header {
    color: white!important;
}

#dne-card-demo-world-of-horror .card__preview {
    transform: scale(1.79) rotate(90deg);
}

#dne-card-demo-world-of-horror .card__header:not(.--flip) {
    position: relative;
    z-index: 2;
}

#dne-card-demo-world-of-horror .card__header {
    color: white!important;
}

#dne-card-demo-micks-tape .card__preview {
    transform: scale(1.79) rotate(90deg);
}

#dne-card-demo-micks-tape .card__header:not(.--flip) {
    position: relative;
    z-index: 2;
}

#dne-card-demo-micks-tape .card__header {
    color: white!important;
}

#dne-card-demo-phonk-cloud .card__preview {
    transform: scale(1.79) rotate(90deg);
}

#dne-card-demo-phonk-cloud .card__header:not(.--flip) {
    position: relative;
    z-index: 2;
}

#dne-card-demo-phonk-cloud .card__header {
    color: white!important;
}

#dne-card-demo-hypothese-grise .card__header.--flip {
    display: none!important;
}

#dne-card-demo-cyberdream .card__preview {
    transform: scale(2);
}

#dne-card-demo-chill-hotline .card__preview {
    transform: scale(1.2);
}

#dne-card-demo-epic-hotline .card__preview {
    transform: scale(1.6);
}

#dne-card-album-enigma .card__preview {
    transform: scale(2);
}

#dne-card-demo-calm-down .card__preview {
    transform: scale(2);
}

#dne-card-demo-zeldawave .card__preview {
    transform: scale(2);
}

#dne-card-demo-tour-de-manege .card__preview {
    transform: scale(1.3);
}

#dne-card-demo-gesserit-sister .card__preview {
    transform: scale(1.6);
}

#dne-card-demo-dub-wars .card__preview {
    transform: scale(1.3);
}

#dne-card-demo-zeldawave-2 .card__preview {
    transform: scale(1.5);
}

#dne-card-demo-slowed-robot .card__preview {
    transform: scale(1.9);
}

#dne-card-demo-trappin-japan .card__preview {
    transform: scale(1.7);
}

#dne-card-demo-exodus .card__preview {
    transform: scale(1.9);
}

#dne-card-demo-patience .card__title {
    line-height: 38px;
    text-align: center;
    padding-left: 17px;
}

#dne-card-album-iron-horse .card__preview {
    transform: scale(1.15) translate(5px, 0px);
}

#dne-card-demo-chill-dude-here .card__preview {
    transform: scale(1.8) translate(-4px, 0px);
}

#dne-card-demo-deep-into-your-eyes .card__preview {
    transform: scale(1.8);
}

#dne-card-demo-dark-trap-4 .card__preview {
    transform: scale(1.55);
}

#dne-card-demo-dark-trap-777 .card__preview {
    transform: scale(1.55);
}

#dne-card-demo-high-alone .card__preview {
    transform: scale(2.6) translate(-4px, 0px);
}

#dne-card-demo-apex-twin-sleep .card__preview {
    transform: scale(1.8);
}

#dne-card-avatar-ttter .card__preview {
    transform: scale(1.6) translate(0, 40px);
}

#dne-card-avatar-support .card__preview {
    transform: scale(1.5) translate(14px, 35px);
}

#dne-card-avatar-writer .card__preview {
    transform: scale(1.3) translate(6px, 58px);
}

#dne-card-avatar-netrunner .card__preview {
    transform: scale(1.59) translate(0, 38px);
}

#dne-card-avatar-dj .card__preview {
    transform: scale(1.36) translate(-6px, 25px);
}

#dne-card-avatar-dragonborn .card__preview {
    transform: scale(1.6) translate(20px, 45px);
}

#dne-card-avatar-olivye .card__preview {
    transform: scale(1.1) translate(4px, 0);
    position: absolute;
    bottom: 0;
}

#dne-card-avatar-writer .card__id,
#dne-card-avatar-dragonborn .card__id,
#dne-card-avatar-olivye .card__id
{opacity: 0}

#dne-card-class-proxy .card,
#dne-card-class-engramma .card {
    /*background-color: #e76321;*/
}

#dne-card-class-proxy .card__preview,
#dne-card-class-engramma .card__preview {
    position: absolute;
    right: -131px;
    bottom: 0;
}

#dne-card-class-proxy .card__preview-img,
#dne-card-class-engramma .card__preview-img {
    max-width: 190px;
}

#dne-card-oxymoron .card__preview-img {
    max-height: 260px!important;
}

#dne-card-frog-prince .card__preview-img {
    max-height: 152px!important;
}

#dne-card-smog .card__preview-img {
    max-height: 225px!important;
}

#dne-card-midgard-serpent .card__preview-img {
    max-height: 153px!important;
    width: auto;
    margin-left: auto;
}

#dne-card-snerks .card__preview-img {
    max-height: 258px!important;
}

#dne-card-bullrog .card__preview-img {
    max-height: 210px!important;
}

#dne-card-meanderthal .card__preview-img {
    max-height: 205px!important;
}

#dne-card-roc-star .card__preview-img {
    max-height: 267px!important;
}

#dne-card-class-proxy .card__description,
#dne-card-class-engramma .card__description {
    position: absolute;
    left: 0;
    top: 60px;
}

#dne-card-demo-dimensional .card__header-left {
    max-width: 86%;
}

#dne-card-vinyl-crepuscular .card__header-left {
    max-width: 86%;
}

#dne-card-misplacer-beast .card__header-left {
    max-width: 90%;
}

#dne-card-ghoulfiends .card__header-left {
    max-width: 90%;
}

#dne-card-under-the-bed .card__preview-img {
    max-height: 240px!important;
}

#dne-card-class-writer .card__preview {
    position: absolute;
    top: 45px;
}

#dne-card-class-writer .card__description {
    position: absolute;
    bottom: 10px;
}

#dne-card-class-olivye .card__preview {
    transform: scale(1.1) translate(4px, 0);
    position: absolute;
    bottom: 0;
}

#dne-card-class-dragonborn .card__preview {
    position: absolute;
    bottom: -10px;
}

#dne-card-class-dragonborn .card__description {
    position: relative;
}

#dne-card-class-dj .card__preview {
    position: absolute;
    top: 45px;
    left: -110px;
    width: 330px;
}

#dne-card-class-dj .card__description {
    position: absolute;
    top: 5px;
    right: 0;
    max-width: 170px;
    font-size: 12px;
}

#dne-card-class-netrunner .card {
    /*background-color: #3aafff;*/
}

#dne-card-class-netrunner .card__preview {
    position: absolute;
    bottom: -30px;
}

#dne-card-class-netrunner .card__description {
    position: relative;
}

#dne-card-class-alien .card__preview {
    position: absolute;
    top: 30px;
}

#dne-card-class-alien .card__description {
    position: absolute;
    bottom: 10px;
}

#dne-card-class-alien .card__header {
    position: relative;
    z-index: 2;
}

#dne-card-class-support .card__preview {
    position: absolute;
    right: -100px;
    width: 315px;
}

#dne-card-class-support .card__description {
    position: absolute;
    left: 0;
    top: 60px;
    max-width: 220px;
}

#dne-card-class-ttter .card__preview {
    position: absolute;
    left: -100px;
    width: 340px;
}

#dne-card-class-ttter .card__description {
    position: absolute;
    right: 0;
    top: 60px;
    max-width: 150px;
}

#dne-card-right-angel .card__preview-img {
    padding-left: 0!important;
}

#dne-card-pukachu .card__preview-img,
#dne-card-a-cute-angel .card__preview-img,
#dne-card-midgard-serpent .card__preview-img {
    padding-right: 0!important;
}

#dne-card-cat-girl .card__preview-img {
    max-width: 240px;
    margin: 0 auto;
}

#dne-card-telemarketer .card__preview-img {
    max-width: 240px;
    margin: 0 auto;
}

#dne-card-chocolate-bunny .card__preview-img {
    max-width: 175px;
    margin: 0 auto;
}

#dne-card-floating-nose .card__preview-img {
    max-width: 240px;
    margin: 0 auto;
}

#dne-card-unspeakably-awful-indescribable-horror .card__header-left {
    max-width: 252px;
}

#dne-card-unspeakably-awful-indescribable-horror .card__header-right {
    position: absolute;
    right: 5px;
}

#dne-card-unspeakably-awful-indescribable-horror .card__preview-img {
    max-width: 173px;
    padding: 5px!important;
    margin: 0 auto!important;
}

#dne-card-tongue-demon .card__header-left {
    max-width: 95%;
}

#dne-card-tongue-demon .card__preview-img {
    max-width: 190px;
    margin: 0 auto;
}

#dne-card-munchsphinx .card__preview-img {
    max-height: 265px!important;
}

#dne-card-stoned-golem .card__preview-img {
    max-width: 155px;
    margin: 0 auto;
    margin-left: 18px!important;
}

#dne-card-cat-girl .card__preview-img {
    max-width: 233px;

}

#dne-card-lawyers .card__preview-img {
    max-height: 280px!important;
    padding-top: 10px!important;
}

#dne-card-gothyanki .card__preview-img {
    max-height: 191px!important;
}

#dne-card-chocolate-bunny .card__preview-img {
    max-height: 242px!important;
}

#dne-card-obsture-angel .card__preview-img {
    max-height: 224px!important;
    padding: 10px 5px!important;
}

#dne-card-blobgoblin .card__preview-img {
    padding: 10px 5px!important;
}

#dne-card-failcor .card__preview-img {
    padding-right: 0!important;
}

#dne-card-ghoulfiends .card__preview-img {
    max-height: 260px!important;
    padding: 10px 5px!important;
}

#dne-card-the-brothers-grimm .card__preview-img {
    max-height: 224px!important;
}

#dne-card-mr-bones .card__preview-img {
    max-height: 279px!important;
    position: relative;
    top: -20px;
    right: -35px;
}

#dne-card-pinball-lizard .card__preview-img {
    padding: 10px 5px!important;
}

#dne-card-stoned-golem .card__header + .card__description::after {
    content: "Виключення: Найомнички. Доведеться досягти успіху, щоб не втратрити їх";
    position: absolute;
    max-width: 92px;
    right: 8px;
    text-align: right;
    top: 110px;
}

#dne-card-gms-ex-girlfriend .card__preview-img {
    max-width: 253px;
    margin: 0 auto;
}

#dne-card-the-wraith-of-khan .card__preview-img {
    max-width: 240px;
    margin: 0 auto;
}

#dne-card-bug-divine-interdiction .card__preview {
    position: absolute;
    right: -80px;
    top: 7px;
}

#dne-card-bug-divine-interdiction .card__description {
    position: absolute;
    bottom: 10px;
}

#dne-card-bug-mine-goes-to-11 .card__title {
    white-space: nowrap;
    word-spacing: -12px;
}

[id*='dne-card-bug-'] .card__header {
    position: relative;
}

[id*='dne-card-bug-'] .card__header-left {
    max-width: 100%;
}

[id*='dne-card-bug-'] .card__limits {
    position: absolute;
    bottom: -18px;
}

#dne-card-bug-kneepads-of-allure .card__header-left {
    max-width: 100%;
}

#dne-card-bug-kneepads-of-allure .card__preview-img {
    padding-right: 0!important;
}

#dne-card-bug-baby-oil .card__preview {
    max-width: 240px;
    margin-left: auto;
}

#dne-card-bug-baby-oil .card__preview-img {
    padding-right: 0!important;
}

#dne-card-bug-potion-of-disbelief .card__preview-img {
    padding-right: 0!important;
}

#dne-card-bug-deus-ex-machinegun .card__header-left {
    white-space: nowrap;
}

#dne-card-bug-deus-ex-machinegun .card__preview-img {
    padding-right: 0!important;
}

#dne-card-bug-of-love .card__preview {
    position: absolute;
    bottom: 0;
}

#dne-card-bug-of-love .card__preview-img {
    max-width: 225px;
    margin: 0 auto;
}

#dne-card-bug-mommy .card__preview-img {
    max-width: 225px;
    margin: 0 auto;
}

#dne-card-bug-two-headed .card__preview-img {
    max-width: 210px;
    margin: 0 auto;
}

#dne-card-bug-typographical-error .card__preview-img {
    max-width: 240px;
    margin: 0 auto;
}

#dne-card-bug-arbitrary-game-balance .card__preview {
    margin-top: 40px;
    margin-bottom: 40px;
}

#dne-card-bug-drag-on-and-on-and-on .card__preview-img {
    max-width: 200px;
    margin-left: auto;
}

#dne-card-bug-sound-tax .card__preview-img {
    max-width: 220px;
    margin: 0 auto;
}

#dne-card-bug-everything-is-relative .card__header {
    z-index: 2;
}

#dne-card-bug-everything-is-relative .card__preview {
    position: absolute;
    top: 0;
}

#dne-card-bug-everything-is-relative .card__description {
    position: absolute;
    bottom: 50px;
}

#dne-card-bug-lyrical-error .card__preview {
    position: absolute;
    top: 0;
}

#dne-card-bug-lyrical-error .card__description {
    position: absolute;
    bottom: 50px;
}

#dne-card-bug-i-got-a-rock .card__preview {
    margin-top: 20px;
}

#dne-card-bug-impending-doom .card__preview {
    position: absolute;
    top: 30px;
}

#dne-card-bug-impending-doom .card__preview-img {
    max-width: 190px;
    margin: 0 auto;
}

#dne-card-bug-impending-doom .card__description {
    position: absolute;
    bottom: 10px;
}

#dne-card-bug-shot-in-the-knee .card__preview-img {
    max-height: 280px!important;
}

#dne-card-bug-loaded-die .card__preview-img {
    max-width: 240px;
    margin: 20px auto;
}

#dne-card-bug-reloaded-die .card__preview-img,
#dne-card-bug-reloaded-die-2 .card__preview-img {
    max-width: 170px;
    margin: 20px auto;
}

#dne-card-bug-lucky-talisman .card__preview-img {
    padding-right: 0!important;
}

#dne-card-bug-dungeon-casino .card__preview-img {
    padding-right: 0!important;
    max-width: 230px;
    margin-left: auto;
}

#dne-card-bug-potion-of-apathy .card__preview-img {
    max-width: 220px;
    margin: 0 auto;
}

#dne-card-bug-tinfoil-hat .card__preview-img {
    position: absolute;
    right: -10px;
    bottom: 0;
}

#dne-card-bug-occasionally-reliable-amulet .card__header {
    z-index: 2;
}

#dne-card-bug-occasionally-reliable-amulet .card__preview {
    position: absolute;
    top: -10px;
}

#dne-card-bug-occasionally-reliable-amulet .card__description {
    position: absolute;
    bottom: 20px;
}

#dne-card-bug-wash-gms-car .card__preview-img {
    padding-left: 0!important;
}

#dne-card-bug-reincarnate-without-dying-first .card__preview-img {
    padding-top: 20px!important;
}

#dne-card-bug-wandering-monster .card__preview-img {
    max-width: 240px;
    margin: 0 auto;
}

#dne-card-bug-dogpile .card__preview-img {
    position: absolute;
    max-height: 380px!important;
    top: 22px;
    right: -45px;
}

#dne-card-bug-dogpile .card__description {
    position: absolute;
    max-width: 180px;
}

#dne-card-bug-monster-mash .card__preview-img {
    padding-right: 0!important;
}

#dne-card-bug-temporary-amnesia .card__preview-img {
    position: absolute;
    right: 0;
    top: 8px;
    max-width: 165px;
}

#dne-card-bug-temporary-amnesia .card__description {
    position: absolute;
    bottom: 20px;
}

#dne-card-bug-bo .card__preview-img {
    max-width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#dne-card-bug-cursed-thingy .card__header {
    z-index: 2;
}

#dne-card-bug-cursed-thingy .card__preview {
    position: absolute;
    right: 0;
    top: 0;
}

#dne-card-bug-cursed-thingy .card__preview-img {
    max-width: 160px;
    margin-left: auto;
}

#dne-card-bug-cursed-thingy .card__description {
    position: absolute;
    bottom: 20px;
}

#dne-card-bug-generosity .card__preview-img {
    max-width: 269px;
    margin: 0 auto;
}

#dne-card-e .card__header {
    position: absolute;
    z-index: 2;
    color: white;
}

#dne-card-e .card__description {
    position: absolute;
    top: 40px;
    z-index: 2;
    color: white;
}

#dne-card-e .card__preview-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    max-height: 100% !important;
    padding: 0!important;
    object-fit: cover;
}

.card__description.--1UP::after {
    content: "отримай душу";
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    font-size: 1.3em;
    text-transform: lowercase;
}

#dne-card-bug-reincarnate-without-dying-first .card__preview-img {
    max-width: 240px;
    margin: 0 auto;
}

#dne-card-bug-make-gm-snort-soda-out-his-nose .card__preview-img {
    position: absolute;
    top: 55px;
}

#dne-card-bug-make-gm-snort-soda-out-his-nose .card__description {
    margin-top: 200px;
}

#dne-card-bug-dna-potion .card__preview-img {
    max-height: 210px!important;
}

#dne-card-bug-hoard .card__preview-img {
    padding: 0!important;
}

#dne-card-bug-garage-sale .card__preview-img {
    position: absolute;
    right: -5px;
    top: 5px;
    padding-right: 0!important;
}

#dne-card-bug-garage-sale .card__description {
    position: absolute;
    bottom: 20px;
}

#dne-card-bug-trojan-horse .card__preview-img {
    max-height: 110px!important;
}

#dne-card-bug-restraining-order .card__preview-img {
    max-height: 240px!important;
}

#dne-card-bug-avatar .card__preview-img {
    max-height: 180px!important;
}

#dne-card-bug-take-me .card__preview-img {
    max-height: 210px!important;
}

#dne-card-bug-monsters-are-busy .card__preview-img {
    max-height: 190px!important;
}

#dne-card-bug-find-a-map .card__preview-img {
    padding-right: 0!important;
}

#dne-card-bug-deck-of-too-many-things .card__preview-img {
    max-height: 220px!important;
}

#dne-card-bug-royal-oil .card__preview-img {
    padding-right: 0!important;
}

#dne-card-bug-druid-fluid .card__preview-img {
    max-width: 268px;
    margin-left: auto;
    padding-right: 0!important;
}

#dne-card-bug-lemming-juice .card__preview-img {
    max-width: 267px;
    margin-left: auto;
    padding-right: 0!important;
}

#dne-card-bug-monster-chow .card__preview-img {
    padding-right: 0!important;
}

#dne-card-bug-magnificent-hat .card__preview {
    position: absolute;
    bottom: 0;
}

#dne-card-bug-magnificent-hat .card__preview-img {
    max-width: 250px!important;
    margin: 0 auto;
}

#dne-card-bug-revealing-costume .card__preview-img {
    max-width: 220px!important;
}

#dne-card-bug-halo .card__preview-img {
    max-width: 200px!important;
}

#dne-card-bug-other-ring .card__preview-img {
    padding: 43px 5px!important;
}

#dne-card-bug-really-impressive-title .card__preview {
    position: absolute;
    bottom: 20px;
}

#dne-card-bug-horsewhip .card__preview {
    position: absolute;
    bottom: 30px;
}

#dne-card-bug-raincoat .card__preview-img {
    padding-right: 0!important;
}

#dne-card-bug-itching-powder .card__preview-img {
    max-width: 260px!important;
}

#dne-card-bug-trip-over-your-own-chest .card__preview {
    padding-top: 20px;
}

#dne-card-bug-agoraphobia .card__preview-img {
    max-height: 160px!important;
}

#dne-card-bug-gender-blender .card__preview {
    padding-top: 20px;
}

#dne-card-bug-dont-call-me-shirley .card__preview {
    padding-top: 10px;
}

#dne-card-bug-fools-gold .card__preview {
    padding-top: 20px;
}

#dne-card-bug-tourist-trap .card__preview {
    padding-top: 20px;
}

#dne-card-bug-lose-two-cards .card__description {
    padding-top: 15px;
}

#dne-card-bug-lose-two-cards .card__preview-img {
    position: absolute;
    left: 0;
    bottom: 0;

    max-height: none!important;
    max-width: 210px;
    padding: 0!important;
}

#dne-card-bug-hungry-backpack .card__preview-img {
    max-height: 190px!important;
}

#dne-card-bug-rewrite-character-sheet .card__preview-img {
    padding-left: 0!important;
}

#dne-card-bug-promise-gm-stop-talking .card__preview-img {
    position: absolute;
    bottom: 60px;
}

#dne-card-bug-betray-the-party .card__preview-img {
    padding: 0!important;
    position: absolute;
    bottom: 60px;
}

#dne-card-bug-unnecessary-roughness .card__preview {
    padding-top: 60px;
}

#dne-card-bug-hurt-gms-brain .card__preview-img {
    max-height: 230px!important;
}

#dne-card-bug-whine-at-gm .card__preview-img {
    max-height: 270px!important;
}

#dne-card-bug-illustrate-your-character .card__preview {
    padding-top: 20px;
}

#dne-card-bug-change-everything .card__preview-img {
    max-height: 180px!important;
}

#dne-card-bug-loose-everything .card__preview-img {
    max-height: 270px!important;
}

#dne-card-bug-rain-of-weasels .card__preview-img {
    max-height: 210px!important;
}

#dne-card-bug-chicken-on-your-head .card__preview-img {
    max-height: 220px!important;
}

#dne-card-bug-lose-big-item .card__preview-img {
    position: absolute;
    top: -1px;
}

#dne-card-bug-lose-big-item .card__description {
    position: absolute;
    bottom: 20px;
}

#dne-card-bug-snail-mail .card__preview-img {
    max-height: 190px!important;
}

#dne-card-bug-truly-obnoxious-curse .card__preview-img {
    padding: 20px 5px!important;
}

#dne-card-bug-misplace-your-crew .card__preview-img {
    max-height: 210px!important;
}

#dne-card-bug-change-crew .card__preview-img {
    max-height: 180px!important;
}

#dne-card-bug-lose-your-crew .card__preview-img {
    padding: 20px 5px!important;
}

#dne-card-bug-sandals-of-protection .card__preview-img {
    position: absolute;
    top: 60px;
}

#dne-card-bug-sandals-of-protection .card__description {
    position: absolute;
    bottom: 10px;
}

#dne-card-bug-of-caltrops .card__preview-img {
    max-height: 220px!important;
}

#dne-card-bug-sell-your-mother .card__preview-img {
    padding-right: 0!important;
}

#dne-card-bug-malign-mirror .card__preview-img {
    max-height: 190px!important;
}

#dne-card-bug-lose-soul .card__preview-img {
    padding-right: 0!important;
}

#dne-card-bug-lose-two-souls .card__preview-img {
    padding-left: 0!important;
    position: relative;
    left: -12px;
}

#dne-card-bug-flypaper-floors .card__preview-img {
    position: absolute;
    bottom: 0;

    padding: 0!important;
}

#dne-card-bug-flypaper-floors .card__description {
    padding-top: 20px;
}

#dne-card-bug-cursed-item .card__preview-img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 160px!important;
    max-width: 160px;
}

#dne-card-bug-cursed-item .card__description {
    padding-top: 10px;
}

#dne-card-bug-wandering-monster-2 .card__preview-img {
    max-height: 210px!important;
}

#dne-card-bug-wandering-monster-3 .card__preview-img {
    max-height: 210px!important;
}

#dne-card-bug-wandering-monster-5 .card__preview-img {
    position: absolute;
    bottom: 0;

    padding: 0!important;
}

#dne-card-bug-wandering-monster-6 .card__preview-img {
    max-height: 210px!important;
}

#dne-card-bug-wandering-monster-8 .card__preview-img {
    max-height: 210px!important;
}

#dne-card-bug-monster-mash-2 .card__preview-img {
    padding-right: 0!important;
}

#dne-card-bug-lucky-talisman-2 .card__preview-img {
    padding-right: 0!important;
}

#dne-card-bug-lucky-talisman-3 .card__preview-img {
    padding-right: 0!important;
    max-width: 260px;
    margin-left: auto;
}

#dne-card-bug-annihilation .card__preview-img {
    position: relative;
    right: -10px;

    max-height: 190px!important;
    padding: 10px 5px!important;
}

#dne-card-elias-jensen .card__preview {
    max-height: 265px;
}

#dne-card-elias-jensen .card__description {
    color: white;
}

#dne-card-i2-d .card__header,
#dne-card-murdoc .card__header,
#dne-card-noodle .card__header,
#dne-card-russel .card__header {
    position: relative;
    z-index: 2;
    color: white;
}

#dne-card-i2-d .card__preview,
#dne-card-murdoc .card__preview,
#dne-card-noodle .card__preview,
#dne-card-russel .card__preview {
    position: absolute;
    top: 0;
    transform: scale(1.05) translateY(10px);
}

#dne-card-gabe .card__header {
    position: absolute;
    z-index: 1;
}

#dne-card-gabe .card__preview-img {
    position: absolute;
    top: 0;
    transform: scale(2.8) translateY(50px);
}

#dne-card-gabe .card__description {
    display: none;
    position: absolute;
    bottom: 20px;

    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-shadow .card__preview-img {
    position: relative;
    top: -50px;
}

#dne-card-tusk .card__preview-img {
    transform: translateY(30px);
}

#dne-card-naruto .card__preview {
    transform: translateY(25px);
}

#dne-card-i47 .card__header,
#dne-card-ghost-dog .card__header {
    position: absolute;
    z-index: 2;
    color: white;
}

#dne-card-i47 .card__preview-img {
    position: absolute;
    top: 0;
}

#dne-card-ghost-dog .card__preview {
    position: absolute;
    top: 0;
    transform: scale(1.15) translate(6px, 25px);
}

#dne-card-iron-alchemic .card__preview-img {
    transform: translateY(-13px);
}

#dne-card-sansa-stark .card__preview-img {
    transform: scale(1.2) translate(10px, 37px);
}

#dne-card-saylor-moon .card__header {
    position: relative;
    z-index: 2;
    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-saylor-moon .card__preview-img {
    position: absolute;
    top: 0;
    transform: scale(2.4) translate(0, 61px);
}

#dne-card-alise .card__preview-img {
    transform: scale(1.3) translateY(23px);
}

#dne-card-lilith .card__header {
    position: relative;
    z-index: 1;
    color: white;
}

#dne-card-lilith .card__preview-img {
    transform: scale(1.6) translateY(15px);
}

#dne-card-i2b .card__header {
    position: relative;
    z-index: 1;
    color: white;
}

#dne-card-i2b .card__preview-img {
    transform: scale(1.6) translateY(15px);
}

#dne-card-sonya-xb77 .card__preview {
    position: absolute;
    max-width: 65%;
    left: 82%;
    transform: scale(.9) translate(-126px, -53px);
}

#dne-card-sonya-xb77 .card__description {
    position: absolute;
    z-index: 2;
    bottom: 20px;

    width: 153px;

    color: black;
}

#dne-card-shaman .card__description {
    position: absolute;
    top: 60px;
    color: white;
}

#dne-card-lucio .card__description {
    position: absolute;
    top: 55px;
}

/*#dne-card-class-collector .card__preview {*/
/*    transform: scale(2.5) translateY(45px);*/
/*}*/

/*#dne-card-class-collector .card__description {*/
/*    position: absolute;*/
/*    bottom: 20px;*/
/**/
/*    color: white;*/
/*    text-shadow: 2px 1px 0 black;*/
/*}*/

#dne-card-gm .card__header-left {
    max-width: 100%;
}

#dne-card-gm .card__preview-img {
    transform: scale(2.5) translateY(48px);
}

#dne-card-gm .card__description {
    position: absolute;
    bottom: 20px;

    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-resurrection .card {
    color: white;
    background: black;
}

#dne-card-resurrection .card__header-left {
    max-width: 100%;
}

#dne-card-michalych .card__description {
    position: absolute;
    bottom: 10px;

    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-i47 .card__description {
    position: absolute;
    bottom: 20px;

    color: white;
}

#dne-card-porn-prince .card__preview-img {
    transform: scale(1.5) translateY(26px);
}

#dne-card-porn-prince .card {
    background: black;
}

#dne-card-porn-prince .card__header {
    position: relative;
    z-index: 2;

    color: white;
}

#dne-card-porn-prince .card__header-left {
    max-width: 86%;
}

#dne-card-porn-prince .card__description {
    position: absolute;
    bottom: 20px;
    z-index: 2;

    color: white;
}

#dne-card-vinyl-cyberpunk-triple .card__header {
    /*position: relative;*/
    z-index: 2;
}

#dne-card-vinyl-cyberpunk-triple .card__description {
    position: absolute;
    z-index: 2;
    bottom: 35px;
}

#dne-card-vinyl-cyberpunk-triple .card__footer {
    position: absolute;
    z-index: 2;
    bottom: 5px;
}

#dne-card-vinyl-cyberpunk-triple .card__preview {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform: scale(1.1);
}

#dne-card-v .card__preview-img {
    position: relative;
    z-index: 0;

    transform: scale(2.5) translate(10px, 29px);
}

#dne-card-v .card__header {
    position: relative;
    z-index: 1;

    color: white;
}

#dne-card-v .card__description {
    position: absolute;
    bottom: 20px;
    z-index: 1;

    color: white;
}

#dne-card-gendalf .card__preview-img {
    position: relative;
    z-index: 0;

    transform: scale(2.6) translate(10px, 29px);
}

#dne-card-gendalf .card__header {
    position: relative;
    z-index: 1;

    color: white;
}

#dne-card-gendalf .card__description {
    position: absolute;
    bottom: 20px;
    z-index: 1;

    color: white;
}

#dne-card-i61 .card__preview-img {
    transform: scale(1.2) translateY(29px);
}

#dne-card-i61 .card__description {
    position: relative;
    z-index: 2;
}

#dne-card-dmt-breathing-no-rules .card__description {
    position: absolute;
    bottom: 30px;
    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-toxic .card__preview-img {
    transform: scale(1.07) translateY(10px);
}

#dne-card-toxic .card__description {
    position: absolute;
    bottom: 10px;

    color: white;
}

#dne-card-elias-jensen .card__header {
    position: relative;
    z-index: 2;
    color: white;
}

#dne-card-elias-jensen .card__preview-img {
    transform: scale(1.26) translateY(-28px);
}

#dne-card-elias-jensen .card__description {
    position: absolute;
    bottom: 10px;

    color: white;
}

#dne-card-dmt-breathing-no-rules .card__price {
    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-olivye .card__preview {
    position: absolute;
    bottom: 0;
}

#dne-card-cleo .card__description {
    position: absolute;
    bottom: 10px;
    color: white;
}

#dne-card-lady-falko .card {
    background: black;
}

#dne-card-lady-falko .card__header {
    color: white;
}

#dne-card-lady-falko .card__description {
    position: absolute;
    bottom: 66px;

    padding-left: 59px;

    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-mechanic .card__preview-img {
    transform: scale(1.3) translateY(37px);
}

#dne-card-mechanic .card__description {
    position: absolute;
    bottom: 20px;

    color: white;

    text-shadow: 2px 1px 0 black;
}

#dne-card-sansa-stark .card__preview {
    max-width: 89%;
}

#dne-card-make-train-piece .card__preview {
    transform: scale(1.11);
}

/*#dne-card-class-rockrunner .card > *:not(.card__controls) {*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    color: #fff;*/
/*    text-shadow: -1px 0px 5px #000000cc;*/
/*}*/

/*#dne-card-class-rockrunner .card__preview {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    left: 0;*/
/*    z-index: 0;*/
/*    transform: scale(1.03);*/
/*}*/
/*#dne-card-class-rockrunner .card__description {*/
/*    position: absolute;*/
/*    bottom: 40px;*/
/*    z-index: 1;*/
/**/
/*    color: #fff;*/
/*    text-shadow: 2px 1px 0 black;*/
/*}*/
/**/
/*#dne-card-class-rockrunner .card__header {*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*}*/
/**/
/*#dne-card-class-rockrunner .card__title {*/
/*    text-shadow: 2px 1px 0 black;*/
/*}*/

#dne-card-make-train-piece .card__header {
    position: absolute;
    z-index: 2;

    color: #fff;
    text-shadow: 2px 1px 0 black;
}

/*#dne-card-class-jeweller .card__description {*/
/*    position: absolute;*/
/*    bottom: 3px;*/
/*    color: white;*/
/*    text-shadow: 2px 1px 0 black;*/
/*}*/
/**/
/*#dne-card-class-barber .card__description {*/
/*    position: absolute;*/
/*    top: 140px;*/
/*    color: white;*/
/*    text-shadow: 2px 1px 0 black;*/
/*}*/

/*#dne-card-class-barber .card::after {*/
/*    content: "You loose";*/
/**/
/*    display: block;*/
/*    padding: 3px;*/
/*    margin: 3px 0 0;*/
/**/
/*    text-align: right;*/
/*}*/

#dne-card-iron-alchemic .card__description {
    position: absolute;
    top: 70px;
}

#dne-card-bug-green-chaos .card__header-left,
#dne-card-chaos-green .card__header-left {
    white-space: nowrap;
}

#dne-card-bug-green-chaos .card__preview,
#dne-card-chaos-green .card__preview {
    /*margin-top: 100px;*/
}

#dne-card-bug-green-chaos .card__description,
#dne-card-chaos-green .card__description {
    position: absolute;
    bottom: 50px;
    width: 280px;
}

#dne-card-chaos-green .card__description {
    text-align: center;
}


#dne-card-shadow .card__description {
    position: absolute;
    top: 50px;
}

#dne-card-make-live .card__preview {
    margin-top: 45px;
}

#dne-card-make-live .card__description {
    position: absolute;
    top: 71px;
}

#dne-card-god-wtf .card__description {
    position: relative;
    top: -9px;
}

#dne-card-know-better .card__description {
    position: relative;
    top: -9px;
}

#dne-card-philosopher-stone .card {
    background: black;
    color: white;
}

#dne-card-i-canon .card__preview {
    max-height: 222px;

}

#dne-card-cdj3000 .card__preview {
    max-width: 200px;
    margin: 0 auto;
}

#dne-card-djms11 .card__preview {
    max-width: 175px;
    margin: 0 auto;
}

#dne-card-plx500 .card__preview {
    padding-left: 5px;
}

#dne-card-ddjrev1 .card__preview {
    max-width: 137px;
    margin: 0 auto;
}

#dne-card-i-canon .card__preview-img {
    max-height: 222px;
    object-fit: contain;

}

#dne-card-god-wtf .card__header {
    margin-bottom: 0;
}

#dne-card-hide-insides-case .card__preview {
    height: 180px;
    overflow: hidden;
    border-bottom: 4px solid black;
}

#dne-card-vinyl-mordechai .card__preview {
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#dne-card-vinyl-mordechai .card__preview-img {
    height: 280px;
    overflow: hidden;
}

#dne-card-prj-mriya .card__preview-img {
    /*height: 220px;*/
}

#dne-card-prj-aenigma .card__description {
    height: 89px;
}

#dne-card-zer0 .card__description {
    position: absolute;
    top: 49px;
}

#dne-card-zer0 .card__preview-img {
    transform: scale(1.2) translate(-15px, -11px);
}

#dne-card-prj-ee-in-the-rain .card__preview-img {
    position: relative;
    left: -41px;
}

#dne-card-prj-ee-in-the-rain .card__summary {
    position: absolute;
    top: 67px;
    right: 2px;
    width: 81px;
}

#dne-card-prj-ee-everything-you-wish .card__preview-img {
    position: relative;
    left: -41px;
}

#dne-card-prj-ee-everything-you-wish .card__summary {
    position: absolute;
    top: 67px;
    right: 2px;
    width: 77px;
    z-index: 3;
}

#dne-card-prj-ee-everything-you-wish .card::before {
    content: "";

    position: absolute;
    top: 50px;
    right: 10px;
    bottom: 0;
    z-index: 2;

    display: block;
    width: 70px;
    height: 296px;

    background: white;

}

#dne-card-michalych .card__preview-img {
    filter: drop-shadow(2px 4px 6px black);
}

#dne-card-michalych .card {
    background: #f1f0ec;
}

#dne-card-i-sinabon .card__footer {
    position: absolute;
    bottom: 0;
    z-index: 2;
}

#dne-card-i-sinabon .card__price {
    color: white;
}

#dne-card-i-sinabon .card__description {
    position: absolute;
    z-index: 3;
    top: 300px;
    color: white;
}

#dne-card-support-supports .card__header-left {
    max-width: 86%;
}

/*#dne-card-class-seller .card {*/
/*    background: #f1f0ec;*/
/*}*/

/*#dne-card-class-seller .card__description {*/
/*    position: absolute;*/
/*    top: 132px;*/
/*    width: 169px;*/
/*}*/

/*#dne-card-class-streamer .card__description {*/
/*    position: relative;*/
/*    top: -5px;*/
/*}*/

/*#dne-card-class-seller .card__preview {*/
/*    position: relative;*/
/*    right: -59px;*/
/*}*/

#dne-card-wolf .card {
    background: black;
    color: white;
}

#dne-card-wolf .card__preview-img {
    position: relative;
    z-index: 0;

    transform: scale(1.3) translate(10px, -12px);
}

#dne-card-wolf .card__header {
    position: relative;
    z-index: 1;
    color: white;
}

#dne-card-wolf .card__description {
    position: absolute;
    bottom: 20px;
    z-index: 1;

    color: white;
}

#dne-card-make-dj-set .card__header {
    position: absolute;
    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-make-piece .card__header {
    position: absolute;
    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-make-train-piece .card__description {
    position: absolute;
    top: 50px;
    text-shadow: 2px 1px 0 white;
}

#dne-card-call-marsellus .card__header {
    position: absolute;
    z-index: 2;
    color: white;
}

#dne-card-call-marsellus .card__description {
    position: absolute;
    bottom: 120px;
    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-call-marsellus .card__price {
    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-forest-day .card__header {
    position: absolute;
    z-index: 2;
    color: white;
}

#dne-card-forest-day .card__price {
    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-call-marsellus .card__preview-img {
    transform: scale(1.7) translateY(57px);
}

#dne-card-lisova-mavka .card__header {
    position: absolute;
    z-index: 2;
    color: white;
}

#dne-card-lisova-mavka .card__description {
    position: absolute;
    bottom: 40px;
    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-lisova-mavka .card__price {
    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-lisova-mavka .card__preview-img {
    transform: scale(1.32) translateX(17px) translateY(38px);
}

#dne-card-make-big-piece .card__description {
    position: absolute;
    top: 90px;
    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-make-big-piece .card__footer {
    color: white;
}

#dne-card-make-big-piece .card__preview-img {
    transform: scale(1.3) translateY(33px);
}

#dne-card-twins .card__header {
    position: absolute;
    z-index: 2;

    color: white;
}

#dne-card-twins .card__description {
    position: absolute;
    top: 50px;

    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-twins .card__preview-img {
    transform: scale(1.19) translateY(29px);
}

#dne-card-prj-weedian-greece .card__description {
    height: 92px;
}

#dne-card-prj-influence .card__description {
    height: 92px;
}

#dne-card-prj-various .card__description {
    height: 92px;
}

[id*=dne-card-album] .card__description {
    height: 132px;
}
[id*=dne-card-demo] .card__description {
    height: 240px;
}
#dne-card-demo-marum-future .card__description {
    height: 224px;
}

#dne-card-demo-autonomous-aka-slam .card__description {
    height: 204px;
}

#dne-card-demo-before-sunrise .card__preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dne-card-demo-before-sunrise .card__preview-img {
    width: 80%;
    /*height: 160px;*/
}

#dne-card-demo-before-sunrise .card__description {
    height: 202px;
}

#dne-card-prj-vinyl-love-market .card__profit {
    font-size: 1em;
}

#dne-card-prj-vinyl-love-market .card__description {
    height: 164px;
}

/*#dne-card-class-dj .card__description {*/
/*    height: 150px;*/
/*}*/

#dne-card-prj-vinyl-vlad-tapes .card__profit {
    font-size: 1.1em;
}

#dne-card-prj-vinyl-various-i .card__profit {
    font-size: 1em;
}

#dne-card-prj-vinyl-nocturnal .card__preview {
    display: flex;
    align-items: center;
    height: 210px;
    overflow: hidden;
}

#dne-card-car-mystery-track .card__preview {
    display: flex;
    align-items: center;
    height: 260px;
    overflow: hidden;
}

#dne-card-i-gopro .card__preview {
    display: flex;
    align-items: center;
    height: 330px;
    overflow: hidden;
}

#dne-card-demo-sub-zero .card__preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dne-card-car-basic .card__preview {
    margin-bottom: -22px;
}

#dne-card-demo-mac-lofi .card__header-left {
    /*max-width: 90%;*/
}

#dne-card-demo-mac-lofi .card__description {
    /*width: 95%;*/
    height: 160px;
}

#dne-card-demo-sub-zero .card__description {
    height: 70px;
}

#dne-card-demo-phonk-fridays-004 .card__description {
    height: 202px;
}

#dne-card-demo-dark-trap-777 .card__description {
    height: 208px;
}

#dne-card-demo-dark-trap-4 .card__description {
    height: 204px;
}

#dne-card-deep-lofi-house .card__description {
    height: 242px;
}

#dne-card-demo-chill-out .card__description {
    height: 255px;
}

#dne-card-demo-micks-tape .card__description {
    height: 254px;
}

#dne-card-album-iron-horse .card__description {
    height: 165px;
}

#dne-card-album-hentai  .card__description {height: 0;}
#dne-card-album-motion-regime  .card__description {height: 0;}

#dne-card-album-i-no-longer-fear .card__preview-img {
    position: absolute;
    transform: scale(2) translate(0px, -20px);
}

/*#dne-card-album-i-no-longer-fear .card__limits {*/
/*    position: relative;*/
/*    z-index: 2;*/

/*    display: block;*/
/*    width: 275px;*/
/*    padding-top: 2px;*/

/*    color: white;*/
/*    text-shadow: 2px 1px 0 black;*/
/*}*/

#dne-card-album-i-no-longer-fear .card__title {
    width: 231px;
}



#card-page-template {
    display: none;
}
/* END CUSTOM DNE-CARDS STYLES */

html,
body {
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
    object-fit: contain;
}

/* START DNE */

#card-template,
#door-card-template {
    display: none;
}

.fw-d-none-i {
    display: none!important;
}

.swiper-slide[id*="dne-card-"] {
    width: 300px;
    height: 590px;
}

.js-tv iframe {
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
}

.build {
    /*margin-top: 100px;*/
}

.build .js-cards-catalog {
    /*max-width: 1200px;*/
    max-width: 900px;
    margin: 0 auto;
}

.build .swiper-slide[id*="dne-card-"],
.build .card {
    width: 300px;
    height: 460px;
}

.build .swiper-slide[id*="dne-card-"]:nth-child(9n) {
    /*margin-bottom: 420px;*/
}

.build .card__description {
    margin: 3px 0 0;
}

.build .card__summary {
    margin-top: 3px;
}

.build .card__last-line {
    display: none;
}

.build #dne-card-machete .card__description {position: absolute; z-index: 1; top: 58px;}
.build #dne-card-machete .card__preview {order: 2; margin-top: auto;}
.build #dne-card-machete .card {display: flex; flex-direction: column;}

.build #dne-card-vargus .card > *:not(.card__controls) {
    position: relative;
    z-index: 2;
}

.build #dne-card-vargus .card > .card__header {
    z-index: 3;
}

.build #dne-card-vargus .card > .card__controls {
    z-index: 3;
}

.build #dne-card-vargus .card__preview {
    position: relative;
    top: -23px;
    z-index: 1;
}

.build #dne-card-prj-influence .card__preview {
    overflow: hidden;
    position: relative;
    top: -5px;
}

.build #dne-card-prj-influence .card__preview-img {
    transform: scale(1.1);
}

.build #dne-card-prj-influence .card__description {
    position: relative;
    top: -5px;
}

.build #dne-card-prj-vinyl-drainvoid .card__preview {
    margin-bottom: -35px;
}

/*.build #dne-card-class-seller .card__preview-img {*/
/*    margin-top: -13px;*/
/*}*/

/*.build #dne-card-class-seller .card,*/
/*.build #dne-card-class-seller .card__preview {*/
/*    overflow: hidden;*/
/*}*/

#dne-card-vlad .card__preview-img {
    position: absolute;
    top: 0;
    z-index: 0;
    transform: scale(1.1);
}

#dne-card-vlad .card__header-left {
    max-width: 87%;
}

#dne-card-vlad .card__header,
#dne-card-vlad .card__footer,
#dne-card-vlad .card__description {
    position: relative;
    z-index: 1;
    color: white;
}

#dne-card-ifon .card__preview-img {
    position: relative;
    z-index: 0;
    transform: scale(1.34) translateY(10px);
}

#dne-card-ifon .card__header {
    position: relative;
    z-index: 2;
    color: white;
}

#dne-card-ifon .card__description {
    position: absolute;
    z-index: 2;
    bottom: 35px;
    color: white;
}

#dne-card-ifon .card__footer {
    position: absolute;
    z-index: 2;
    bottom: 5px;
    color: white;
}

#dne-card-ifon .card::after {
    content: "";

    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;

    display: block;
    height: 275px;

    background: linear-gradient(to top, #000, transparent 35%);

}

#dne-card-combat-master .card__preview {
    position: absolute;
    top: 0;
    transform: scale(1.2) translateY(27px);
}

#dne-card-combat-master .card__header {
    position: relative;
    z-index: 2;
    color: white;
}

#dne-card-combat-master .card__description {
    position: absolute;
    z-index: 2;
    bottom: 5px;
    color: white;
}

/*#dne-card-class-driver .card__preview-img {*/
/*    transform: scale(1.25) translateY(-13px);*/
/*}*/

/*#dne-card-class-driver .card__header {*/
/*    position: relative;*/
/*    z-index: 2;*/
/*    color: white;*/
/*}*/

/*#dne-card-class-driver .card__description {*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    bottom: 5px;*/
/*    color: white;*/
/*}*/

/*#dne-card-class-driver .card::before {*/
/*    content: "";*/
/**/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/**/
/*    display: block;*/
/*    height: 275px;*/
/**/
/*    background: linear-gradient(to bottom, #000, transparent 35%);*/
/**/
/*}*/

/*#dne-card-class-driver .card::after {*/
/*    content: "";*/
/**/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/**/
/*    display: block;*/
/*    height: 275px;*/
/**/
/*    background: linear-gradient(to top, #000, transparent 65%);*/
/**/
/*}*/

/*#dne-card-class-munchkin .card__preview-img {*/
/*    transform: scale(1.25) translateY(-13px);*/
/*}*/

/*#dne-card-class-munchkin .card__header {*/
/*    position: relative;*/
/*    z-index: 2;*/
/*}*/

/*#dne-card-class-munchkin .card__description {*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    bottom: 5px;*/
/*}*/

#dne-card-sleep .card__preview-img {
    transform: scale(1.35) translateY(35px);
}

#dne-card-sleep .card__description {
    position: absolute;
    z-index: 2;
    bottom: 35px;
    color: white;
}

#dne-card-sleep .card__footer {
    position: absolute;
    z-index: 2;
    bottom: 5px;
    color: white;
}
#dne-card-sleep .card::before {
    content: "";

    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;

    display: block;
    height: 275px;

    background: linear-gradient(to top, #050505, transparent 65%);

}

#dne-card-zlykh .card__preview-img {
    transform: scale(1.5);
    z-index: 0;
    position: relative;
}

#dne-card-zlykh .card__header {
    position: relative;
    z-index: 2;
}

#dne-card-vinyl-flower-boy .card__preview-img {
    transform: scale(.9);
}

#dne-card-wednesday .card__preview {
    position: relative;
    transform: scale(1.5) translateY(38px);
}

#dne-card-cleo .card__header {
    position: relative;
    z-index: 1;
    color: white;
}

#dne-card-cleo .card__preview {
    position: absolute;
    top: 0;
}

#dne-card-cleo .card__preview-img {
    transform: scale(1.15) translateY(17px);
}

/*#dne-card-vinyl-i-am-chill-session .card {*/
    /*color: white;*/
    /*background-color: #1f1f36;*/
/*}*/

/*#dne-card-vinyl-i-am-chill-session .card__header {*/
    /*position: absolute;*/
    /*top: 50px;*/
    /*z-index: 2;*/
/*}*/

/*#dne-card-vinyl-i-am-chill-session .card__description {*/
/*    position: absolute;*/
/*    bottom: 35px;*/
/*}*/

#dne-card-iup .card__preview-img {
    transform: scale(.9);
}

#dne-card-hired .card__title {
    text-shadow: 2px 1px 0 black;
}

#dne-card-hired .card__header {
    position: absolute;
    z-index: 2;
    color: white;
}

#dne-card-hired .card__description {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    color: white;
}

#dne-card-hired .card__preview {
    transform: scale(1.6) translateY(52px);
}

#dne-card-mechanic .card__header {
    position: absolute;
    z-index: 2;
}

#dne-card-mechanic .card__preview {
    position: absolute;
    top: 0;
    transform: scale(1.05) translateY(8px);
}

#dne-card-makima .card__header {
    position: absolute;
    z-index: 2;
    color: black;
}

#dne-card-makima .card__description {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-makima .card__preview {
    transform: scale(1.1) translateY(47px);
}

#dne-card-dixi .card__header {
    position: absolute;
    z-index: 2;
    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-dixi .card__description {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    color: white;
    text-shadow: 2px 1px 0 black;
}

#dne-card-dixi .card__preview {
    transform: scale(1.58) translateY(50px);
}


#dne-card-snoop-dog .card__header {
    position: absolute;
    z-index: 2;
    color: white;
}

#dne-card-snoop-dog .card__description {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    color: white;
}

#dne-card-snoop-dog .card__preview {
    transform: scale(1.4) translateY(43px);
}

#dne-card-rebeca .card__header {
    position: absolute;
    z-index: 2;
    color: white;
}

#dne-card-rebeca .card__description {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    color: white;
}

#dne-card-rebeca .card__preview {
    transform: scale(1.15) translateY(18px);
}

#dne-card-doll .card__header {
    position: absolute;
    z-index: 2;
    color: white;
}

#dne-card-doll .card__description {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    color: white;
}

#dne-card-doll .card__preview-img {
    transform: scale(1.6) translateY(52px);
}

#dne-card-eva .card__header {
    position: absolute;
    z-index: 2;
    color: white;
}

#dne-card-eva .card__description {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    color: white;
}

#dne-card-eva .card__preview-img {
    transform: scale(1.6) translateY(52px);
}

#dne-card-combat-mechanic .card__header {
    position: absolute;
    z-index: 2;
    color: white;
}

#dne-card-combat-mechanic .card__description {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    color: white;
}

#dne-card-combat-mechanic .card__preview-img {
    transform: scale(1.6) translateY(52px);
}

#dne-card-sensei .card__header {
    position: absolute;
    z-index: 2;
    color: white;
}

#dne-card-sensei .card__description {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    color: white;
}

#dne-card-sensei .card__preview-img {
    transform: scale(1.6) translateY(52px);
}

#dne-card-dia-play .card__header {
    position: absolute;
    z-index: 2;
    color: white;
}

#dne-card-dia-play .card__description {
    position: absolute;
    bottom: 30px;
    z-index: 2;
    color: white;
}

#dne-card-dia-play .card__footer {
    position: absolute;
    bottom: 5px;
    color: white;
}

#dne-card-dia-play .card__preview-img {
    transform: scale(1.6) translateY(52px);
}

#dne-card-dia-play-for-yourself .card__header {
    position: absolute;
    z-index: 2;
}

#dne-card-dia-play-for-yourself .card__description {
    position: absolute;
    top: 70px;
    z-index: 2;
}

#dne-card-dia-play-for-yourself .card__footer {
    position: absolute;
    bottom: 5px;
}

#dne-card-dia-play-for-yourself .card__preview-img {
    transform: scale(1.6) translateY(48px);
}

#dne-card-nokia .card {
    background: black;
}

#dne-card-nokia .card__preview-img {
transform: scale(1.6) translateY(48px);
}

#dne-card-nokia .card__header {
    position: absolute;
    z-index: 2;
    color: white;
}

#dne-card-nokia .card__description {
    position: absolute;
    bottom: 25px;
    z-index: 2;
    color: white;
}

#dne-card-felix .card__preview-img {
    transform: scale(1.4) translateY(10px);
}

#dne-card-felix .card__header {
    position: absolute;
    z-index: 2;
    color: black;
}

#dne-card-felix .card__description {
    position: absolute;
    bottom: 25px;
    z-index: 2;
    color: white;
}
