.fw-d-none {
    display: none;
}

.fw-mt-10 {
    margin-top: 10px;
}

.fw-check-list {
    max-height: 195px;
    overflow: hidden;
    margin: 16px 0;
}

.fw-check-list > .fw-check-row:first-child {
    box-shadow: inset 0 1px 0 0 #5e0c08;
}

.fw-check-list > .fw-check-row:last-child {
    box-shadow: inset 0 -1px 0 0 #5e0c08;
}

.fw-check-list > .fw-check-row:first-child,
.fw-check-list > .fw-check-row:last-child {
    box-shadow: inset 0 -1px 0 0 #5e0c08, inset 0 1px 0 0 #5e0c08;
}

.fw-check-row {
    width: 100%;
    padding: 20px 26px;
    padding-left: 26px;
    border: none;

    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
    color: #53d3dc;
    text-transform: uppercase;
    letter-spacing: -1.2px;
    text-shadow: 1px 0px 2px #53d3dc;
    text-align: left;


    cursor: pointer;
    background: transparent;
}

.fw-check-row:hover {
    background-color: rgba(40, 8, 7, .6);
}

.fw-check-row::before {
    content: '';

    position: relative;
    left: -3px;
    bottom: -4px;

    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 20px;

    box-shadow: inset 0 0 0 1px #ff6d65;
    background: #0e1116;
}

.fw-check-row--checked::before {
    background: #ff6d65;
    box-shadow: 0 0 4px 0px #ff6d65;
}

.btn-reset {
    padding: 0;
    border: none;

    font-size: 0;

    background: transparent;
}

.fw-submit {
    opacity: 0;
    visibility: hidden;

    color: #4ed0d7;
    box-shadow: 0 0 0 1px #4ed0d7;
    background: #194045;

    display: none;
    max-width: 480px;
    width: 100%;
    padding: 7px;

    font-family: 'JetBrains Mono', monospace;
    font-size: 1.3em;
    /*color: #53d3dc;*/
    text-transform: uppercase;
    letter-spacing: -1.2px;
    text-shadow: 1px 0px 2px #53d3dc;

    cursor: pointer;
}

.fw-submit.--visible {
    opacity: 1;
    visibility: visible;
    display: block;
}

.fw-submit.--done {
    filter: hue-rotate(315deg);
}

.fw-h1 {
    color: #ff6d65;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -1.2px;
    text-shadow: 1px 0px 10px #ff6d65;
}

.fw-p {
    padding-left: 6px;
    margin-top: 10px;
    color: #ff6d65;
    font-family: 'JetBrains Mono', monospace;
    text-shadow: 1px 0px 4px #ff6d65;
}
