.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.white-popup .mfp-close {
    position: absolute;
    top: auto;
    right: 20px;
    bottom: -30px;
}

.shop {
    background: url("https://lh6.googleusercontent.com/3KJ-A90qu130KVL5BgHD2zoc3XfgaaVM1O3KldnwapgJA0Q8ftONXwIdJSfv7WBbgg4=w2400");
    background-size: contain;
}

.shop-modal {
    background: transparent;
}

.shop__title {
    position: absolute;

    color: white;

    font-family: "Press Start 2p", cursive;
}

.card-modal {
    width: 300px;
    height: 460px;
    padding: 0;
}

body .mfp-bg {
    background: transparent;
}

.card-modal--left {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.card-modal--right {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.nokia-modal {
    background: transparent;
    max-width: 578px;
}

.nokia {}

.nokia__preview {
    position: relative;

    width: 538px;
    height: 633px;

    background-image: url("../img/nokia.png");
}

/*.nokia__preview::before {*/
/*    content: "";*/

/*    position: absolute;*/
/*    top: 198px;*/
/*    left: 151px;*/
/*    z-index: 2;*/

/*    display: block;*/
/*    width: 165px;*/
/*    height: 129px;*/

/*    background: url("../img/nokia-squere.png");*/
/*}*/

.nokia-area {
    position: absolute;
    top: 204px;
    left: 157px;

    display: block;
    width: 155px;
    height: 119px;

    color: black;

    /*background: white;*/
    background: #b9d127;
    background-image: url("../img/bg-nokia-squere.png");
    background-size: cover;
}

.nokia-area .title {
    margin: 0;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 4px;

    font-size: 1em;
    font-family: "Press Start 2p", cursive;

}

.nokia-area a {
    display: block;
    padding-left: 8px;

    color: inherit;
    text-decoration: none;
    font-family: "JetBrains Mono", monospace;
}

.nokia-area a:hover {
    color: #b9d127;
    background: black;
}

.nokia-area .menu {
    overflow-y: auto;
}

a.js-phone {
    color: inherit;
    text-decoration: none;
    font-family: "JetBrains Mono", monospace;
}
