html {
    margin-right: 0!important;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.white-popup.cp-body {
    background-color: #002939;
}

.white-popup .mfp-close {
    position: absolute;
    top: auto;
    right: 20px;
    bottom: -30px;
}

.shop {
    background: url("https://lh6.googleusercontent.com/3KJ-A90qu130KVL5BgHD2zoc3XfgaaVM1O3KldnwapgJA0Q8ftONXwIdJSfv7WBbgg4=w2400");
    background-size: contain;
}

.shop-modal {
    background: transparent;
}

.shop__title {
    position: absolute;

    color: white;

    font-family: "Press Start 2p", sans-serif;
}

.card-modal {
    width: 300px;
    height: 460px;
    padding: 0;
}

body .mfp-bg {
    background: transparent;
}

.card-modal--left {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.card-modal--right {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.nokia-modal {
    background: transparent;
    max-width: 578px;
}

.nokia {}

.nokia__preview {
    position: relative;

    width: 538px;
    height: 633px;

    background-image: url("../img/nokia.png");
}

/*.nokia__preview::before {*/
/*    content: "";*/

/*    position: absolute;*/
/*    top: 198px;*/
/*    left: 151px;*/
/*    z-index: 2;*/

/*    display: block;*/
/*    width: 165px;*/
/*    height: 129px;*/

/*    background: url("../img/nokia-squere.png");*/
/*}*/

.nokia-area {
    position: absolute;
    top: 204px;
    left: 157px;

    display: block;
    width: 155px;
    height: 119px;

    color: black;

    /*background: white;*/
    background: #b9d127;
    background-image: url("../img/bg-nokia-squere.png");
    background-size: cover;
}

#nokia-popup.--red .nokia-area {
    background-color: #da0030;
}

.nokia-area .title {
    margin: 0;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 4px;

    font-size: 1em;
    font-family: "Press Start 2p", sans-serif;

}

.nokia-area a {
    display: block;
    padding-left: 8px;

    color: inherit;
    text-decoration: none;
    font-family: "JetBrains Mono", monospace;
}

.nokia-area a:hover {
    color: #b9d127;
    background: black;
}

.nokia-area .menu {
    overflow-y: auto;
}

a.js-phone {
    color: inherit;
    text-decoration: none;
    font-family: "JetBrains Mono", monospace;
}

.terminal-modal {
    max-width: 100vw;
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.mfp-container {
    padding: 0!important;
    overflow: hidden!important;
}

.dialog-modal {
    max-width: 266px;
    padding: 0;
}

.setting-modal {
    max-width: 45vw;
}

.win77-dialog {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: "JetBrains Mono", monospace;
    background: #c2c6ca;
    font-size: 12px;
    -webkit-font-smoothing: none;
    width: 265px;
    box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px #C2C6CA, inset -1px -1px #85898d, inset 2px 2px white;

    transform: scale(1.4);
}

.win77-dialog__textarea {
    padding: 0 15px;

    color: black;
}

.dialog-modal .win77-dialog__close {
    right: 5px;
    bottom: 4px;
    display: flex;
    background: #c2c6ca;
    opacity: 1;
}

.dialog-modal .mfp-close:active {
    top: auto;
}

.win77-dialog button {
    background: #c2c6ca;
    border: none;
    padding: 0;
    border-radius: 0;
    outline: none;
}
.win77-dialog .shadow {
    box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px white, inset -1px -1px #85898d;
}
.win77-dialog .bar {
    box-sizing: content-box;
    display: flex;
    flex-flow: row nowrap;
    font-weight: bold;
    justify-content: space-between;
    width: calc(100% - 11px);
    height: 13px;
    color: black;
    background: rgba(80, 233, 239, 0.7);
    padding: 2px 3px 3px;
    margin: 3px 2px 1px 3px;
}
.win77-dialog .bar p {
    margin: 0;
}
.win77-dialog .bar button {
    width: 15px;
    height: 13px;
}
.win77-dialog .bar button:active {
    box-shadow: 0.5px 0.5px 0 0.5px white, inset 1px 1px black, inset -1px -1px #c2c6ca, inset 2px 2px #85898d;
}
.win77-dialog .bar button:active svg {
    transform: translateX(1px) translateY(1px);
}
.win77-dialog .bar button svg {
    margin: 3px 3px 3px 4px;
}
.win77-dialog .buttons {
    display: flex;
    flex-flow: row nowrap;
    margin: 1px 15px 14px 14px;
}
.win77-dialog .buttons button {
    width: 90px;
    height: 22px;
    display: grid;
    color: black;
}
.win77-dialog .buttons button:not(:last-child) {
    margin-right: 7px;
}
.win77-dialog .buttons button p {
    font-size: 12px;
    margin: auto;
}
.win77-dialog .buttons button img {
    margin: 4px 3px 3px 4px;
    display: none;
}
.win77-dialog .buttons button p, .win77-dialog .buttons button img {
    grid-column: 1;
    grid-row: 1;
}
.win77-dialog .buttons button:focus {
    outline: none;
    box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px black, inset -1px -1px black, inset 2px 2px white, inset -2px -2px #85898d;
}
.win77-dialog .buttons button:focus img {
    display: block;
}
.win77-dialog .buttons button:active {
    box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px black, inset -1px -1px #85898d, inset 2px 2px #85898d;
    outline: none;
}
.win77-dialog .buttons button:active p, .win98popup .buttons button:active img {
    transform: translateX(1px) translateY(1px);
}

.quest-modal.white-popup {
    max-width: 980px;
    min-height: 540px;
    padding: 20px;
    background: #0e1116;
}

.load-modal.white-popup {
    max-width: 1200px;
    padding: 0;
    background: transparent;
}

.map-modal.white-popup {
    width: 100%;
    max-width: 1300px;
    padding: 0;
}

