#dne-page[data-hash="npc"] ~ .score,
#dne-page[data-hash="class"] ~ .score,
#dne-page[data-hash="loot"] ~ .score {
    display: none;
}

#dne-page[data-hash="npc"] ~ .time,
#dne-page[data-hash="class"] ~ .time,
#dne-page[data-hash="loot"] ~ .time {
    display: none;
}

/*.catalog-controls__item:last-child {*/
/*    display: none;*/
/*}*/

#dne-page[data-hash="npc"] ~ .catalog-controls .catalog-controls__item:last-child,
#dne-page[data-hash="class"] ~ .catalog-controls .catalog-controls__item:last-child,
#dne-page[data-hash="loot"] ~ .catalog-controls .catalog-controls__item:last-child {
    display: block;
}

.card-catalog-wrap {
    width: 100%;
    height: 100vh;
    background: white;
}

.card-catalog-wrap.--styled {
    background-color: var(--colors-bg--500);
    background-image: radial-gradient( ellipse at 33% 10%, #461616 0%, transparent 75% );
    background-repeat: no-repeat;
    color: var(--colors-on_bg--500);
}

.js-cards-catalog {
    position: relative;

    width: 930px;
    max-width: max-content!important;
    justify-content: center;
}

.js-filter-by-collection {
    position: absolute;
    top: 0;
    left: -10px;
    transform: translateX(-100%);

    margin: 0!important;
}

.build .js-cards-catalog[data-hash="hud"] {
    max-width: 100%;
}

#dne-page[data-hash="hud"] ~ .time {
    display: none;
}

#dne-page[data-hash="hud"].js-tab ~ .time {
    display: block;
    z-index: 30;
    background: black;
    box-shadow: 0px 0px 0 4px black;
}

#dne-page[data-hash="hud"] ~ .score {
    display: none;
}

#dne-page[data-hash="hud"].js-tab ~ .score {
    display: block;
}

body .units {
    color: white;
}

body[data-hash="cards"] .units {
    color: white;
    /*color: black;*/
}

body[data-hash="cards"] .inventory {
    color: white;
    /*color: black;*/
    text-shadow: none;
}

body[data-hash="cards"] .js-car-name {
    text-shadow: none!important;
}

body[data-hash="admin"] .inventory,
body[data-hash="event"] .inventory:not(.project-obj) {
    display: none;
}

body[data-hash="event"] #main-scene {
    visibility: visible;
    opacity: 1;
}

body[data-hash="play"] .score {
    color: white;
}

body.hide-hud .units,
body.hide-hud .score,
body.hide-hud #bottom-hand,
body.hide-hud .player-obj,
body.hide-hud .inventory,
body.hide-hud .js-toggle-catalog-controls,
body.hide-hud .swiper-button-next,
body.hide-hud #table,
body.hide-hud .swiper-button-prev,
body.hide-hud .hud-btn--fixed {
    display: none;
}

body[data-hash="cards"] .nav__item-sublist:not("--right") {
    visibility: visible;
    opacity: 1;
    transform: translateX(-100%);
}

.hud-btn--fixed {
    visibility: hidden;
    opacity: 0;
    transition: .2s ease;
}

body[data-hash="play"] .hud-btn--fixed {
    visibility: visible;
    opacity: 1;
}
