/* START CUSTOM DNE-CARDS STYLES */
#dne-card-moving {

}

#dne-card-i-canon .card__preview {
    max-height: 222px;

}

#dne-card-i-canon .card__preview-img {
    max-height: 222px;
    object-fit: contain;

}

#dne-card-god-wtf .card__header {
    margin-bottom: 0;
}

#dne-card-hide-insides-case .card__preview {
    height: 180px;
    overflow: hidden;
    border-bottom: 4px solid black;
}

#dne-card-vinyl-mordechai .card__preview {
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#dne-card-vinyl-mordechai .card__preview-img {
    height: 280px;
    overflow: hidden;
}

#dne-card-prj-mriya .card__preview-img {
    /*height: 220px;*/
}

#dne-card-prj-aenigma .card__description {
    height: 89px;
}

#dne-card-class-seller .card__description {
    position: absolute;
    bottom: 20px;
    width: 113px;
}

#dne-card-prj-weedian-greece .card__description {
    height: 92px;
}

#dne-card-prj-influence .card__description {
    height: 92px;
}

#dne-card-prj-various .card__description {
    height: 92px;
}

[id*=dne-card-album] .card__description {
    height: 132px;
}
[id*=dne-card-demo] .card__description {
    height: 240px;
}
#dne-card-demo-marum-future .card__description {
    height: 224px;
}

#dne-card-demo-autonomous-aka-slam .card__description {
    height: 204px;
}

#dne-card-demo-before-sunrise .card__preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dne-card-demo-before-sunrise .card__preview-img {
    width: 80%;
    /*height: 160px;*/
}

#dne-card-demo-before-sunrise .card__description {
    height: 202px;
}

#dne-card-prj-vinyl-love-market .card__profit {
    font-size: 1em;
}

#dne-card-prj-vinyl-love-market .card__description {
    height: 164px;
}

#dne-card-class-dj .card__description {
    height: 150px;
}

#dne-card-prj-vinyl-vlad-tapes .card__profit {
    font-size: 1.1em;
}

#dne-card-prj-vinyl-various-i .card__profit {
    font-size: 1em;
}

#dne-card-prj-vinyl-nocturnal .card__preview {
    display: flex;
    align-items: center;
    height: 210px;
    overflow: hidden;
}

#dne-card-car-mystery-track .card__preview {
    display: flex;
    align-items: center;
    height: 260px;
    overflow: hidden;
}

#dne-card-i-gopro .card__preview {
    display: flex;
    align-items: center;
    height: 330px;
    overflow: hidden;
}

#dne-card-demo-sub-zero .card__preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dne-card-demo-sub-zero .card__preview-img {
    width: 95%;
    /*height: 160px;*/
}

#dne-card-demo-sub-zero .card__description {
    height: 202px;
}

#dne-card-demo-phonk-fridays-004 .card__description {
    height: 202px;
}

#dne-card-demo-dark-trap-777 .card__description {
    height: 208px;
}

#dne-card-demo-dark-trap-4 .card__description {
    height: 204px;
}

#dne-card-deep-lofi-house .card__description {
    height: 242px;
}

#dne-card-demo-chill-out .card__description {
    height: 255px;
}

#dne-card-demo-micks-tape .card__description {
    height: 254px;
}

#dne-card-album-iron-horse .card__description {
    height: 165px;
}

#card-page-template {
    display: none;
}
/* END CUSTOM DNE-CARDS STYLES */

html,
body {
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
    object-fit: contain;
}

/* START DNE */

#card-template,
#door-card-template {
    display: none;
}

.swiper-slide[id*="dne-card-"] {
    width: 300px;
    height: 590px;
}

.js-cards-catalog {
    max-width: 1200px;
}

.build .swiper-slide[id*="dne-card-"],
.build .card {
    width: 300px;
    height: 460px;
}

.build .card__description {
    margin: 3px 0 0;
}

.build .card__summary {
    margin-top: 3px;
}

.build .card__last-line {
    display: none;
}

.build #dne-card-machete .card__description {position: absolute; z-index: 1; top: 58px;}
.build #dne-card-machete .card__preview {order: 2; margin-top: auto;}
.build #dne-card-machete .card {display: flex; flex-direction: column;}

.build #dne-card-vargus .card > * {
    position: relative;
    z-index: 2;
}

.build #dne-card-vargus .card__preview {
    margin-bottom: -76px;
    position: relative;
    top: -45px;
    z-index: 1;
}

.build #dne-card-prj-influence .card__preview {
    overflow: hidden;
    position: relative;
    top: -5px;
}

.build #dne-card-prj-influence .card__preview-img {
    transform: scale(1.1);
}

.build #dne-card-prj-influence .card__description {
    position: relative;
    top: -5px;
}

.build #dne-card-prj-vinyl-drainvoid .card__preview {
    margin-bottom: -35px;
}

.build #dne-card-class-seller .card__preview-img {
    margin-top: -13px;
}

.build #dne-card-class-seller .card,
.build #dne-card-class-seller .card__preview {
    overflow: hidden;
}

.hud-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    padding: 10px;

    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.hud-btn--fixed {
    position: fixed;
    left: 50%;
    bottom: 3px;
    z-index: 10;

    transform: translateX(-50%);
}

.hud-btn img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.hud-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    transition: .2s ease-in;
}

.hud-bottom .hud-options {
    display: block;
    width: 100%;
}

.hud-bottom--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.hud-bottom--open {
    transform: translateY(0)!important;
}

.hud {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;

    display: none;

    background: rgba(0, 0, 0, .4);
    border: 2px solid gold;
}

.hud--open {
    display: block;
}

.hud-options {
    display: none;

    color: red;
    background: black;
}

.hud-options--fixed {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.hud-options--open {
    display: block;
}

.hud-options-list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.hud-options-item {
    padding: 20px 10px;
    border: 2px solid red;
}

.hud-options-item a,
.hud-options-item a:active,
.hud-options-item a:visited {
    color: inherit;
    text-decoration: none;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.players-list-item {
    display: flex;
}

.players-list-item:first-child {
    border-bottom: 2px solid gold;
}

.player {
    align-items: baseline;

    font-size: 20px;
    line-height: 1.6;
    font-family: "Press Start 2p", cursive;
}

.player__id {
    width: 70%;
    margin: 0;
    text-align: left;
}

.player__energy::before {
    content: "⚡";

    position: relative;
    top: -4px;

    font-size: 1.4em;
}

.player__bankroll::before {
    content: "💳";

    font-size: 2em;
}

.player__energy {
    position: relative;
    width: 15%;
    padding-left: 20px;
}

.player__bankroll {
    position: relative;
    width: 15%;
    padding-left: 54px;
    text-align: left;
}

.player__bankroll::before {
    position: absolute;
    left: 0;
    top: -31px;
}

.card {
    position: relative;

    box-sizing: border-box;
    width: 300px;
    height: 590px;
    border: 10px solid black;

    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    color: #000;

    background: white;
}

.card--back {
    position: relative;
}

.card--back::before {
    content: "";

    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;

    display: block;

    background: url("https://lh6.googleusercontent.com/94ZiG04RaljkE0kBIgEnJ81qqspFoKyJfiKqkb7iJ0XPsKKfThuCHF6iqL5YOUtrAAc=w2400");
    background-size: cover;
    background-position: center;
}

.card__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 5px 0;
    margin-bottom: 10px;

    word-break: break-word;
}

.card__id {
    position: absolute;
    top: 0;
    font-size: 6px;
}

.card__title {
    margin: 0;

    font-family: 'Press Start 2P', cursive;
    word-break: break-word;
}

.card__header-left {
    width: 100%;
    max-width: 80%;
}

.card__header-right {
    display: flex;
    flex-direction: column;
    max-width: 20%;

    text-align: right;
}

.card__price {
    font-family: 'Press Start 2P', cursive;
}

.card__limits {
    font-family: "JetBrains Mono", monospace;
}

.card__description {
    overflow: hidden;
    padding: 0 5px;
}

.card__summary {
    padding: 0 4px;
    font-size: smaller;
}

.card__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
}

.card--door .card__footer {
    justify-content: space-between;
}

.card__footer-left,
.card__footer-right {
    max-width: 50%;
}

.card__bonus,
.card__budget,
.card__profit {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2em;
}

.js-cards-catalog {
    display: flex;
    flex-wrap: wrap;
}

.card-page {
    display: flex!important;
    height: 100%;

    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    color: #fff;

    background: #000;
}

@media (max-width: 768px) {
    .card-page {
        flex-direction: column;
    }
}

.card-page__preview {
    padding-left: 20px;
    padding-top: 20px;
}

.card-page__content {
    padding-left: 20px;
    padding-top: 20px;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    word-break: break-word;
}

.card-page__budget,
.card-page__profit,
.card-page__level {
    font-family: 'Press Start 2P', cursive;
}

.card-page__id {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 2;

    display: inline-block;

    text-align: right;

    transform: rotate(90deg);
    transform-origin: left;
}

/* END DNE */