/* START CUSTOM DNE-CARDS STYLES */
#dne-card-i-canon .card__preview {
    max-height: 222px;

}

#dne-card-i-canon .card__preview-img {
    max-height: 222px;
    object-fit: contain;

}

#dne-card-god-wtf .card__header {
    margin-bottom: 0;
}

#dne-card-hide-insides-case .card__preview {
    height: 180px;
    overflow: hidden;
    border-bottom: 4px solid black;
}

#dne-card-vinyl-mordechai .card__preview {
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#dne-card-vinyl-mordechai .card__preview-img {
    height: 280px;
    overflow: hidden;
}

#dne-card-prj-mriya .card__preview-img {
    height: 220px;
}

#dne-card-prj-aenigma .card__description {
    height: 89px;
}


#dne-card-prj-weedian-greece .card__description {
    height: 92px;
}

#dne-card-prj-influence .card__description {
    height: 92px;
}

#dne-card-prj-various .card__description {
    height: 92px;
}
[id*=dne-card-album] .card__description {
    height: 132px;
}
[id*=dne-card-demo] .card__description {
    height: 240px;
}
#dne-card-demo-marum-future .card__description {
    height: 224px;
}

#dne-card-demo-autonomous-aka-slam .card__description {
    height: 204px;
}

#dne-card-demo-before-sunrise .card__preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dne-card-demo-before-sunrise .card__preview-img {
    width: 80%;
    /*height: 160px;*/
}

#dne-card-demo-before-sunrise .card__description {
    height: 202px;
}

#dne-card-prj-vinyl-love-market .card__profit {
    font-size: 1em;
}

#dne-card-prj-vinyl-love-market .card__description {
    height: 164px;
}

#dne-card-class-dj .card__description {
    height: 150px;
}

#dne-card-prj-vinyl-vlad-tapes .card__profit {
    font-size: 1.1em;
}

#dne-card-prj-vinyl-various-i .card__profit {
    font-size: 1em;
}

#dne-card-prj-vinyl-nocturnal .card__preview {
    display: flex;
    align-items: center;
    height: 210px;
    overflow: hidden;
}

#dne-card-car-mystery-track .card__preview {
    display: flex;
    align-items: center;
    height: 260px;
    overflow: hidden;
}

#dne-card-i-gopro .card__preview {
    display: flex;
    align-items: center;
    height: 330px;
    overflow: hidden;
}

#dne-card-demo-sub-zero .card__preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dne-card-demo-sub-zero .card__preview-img {
    width: 95%;
    /*height: 160px;*/
}

#dne-card-demo-sub-zero .card__description {
    height: 202px;
}

#dne-card-demo-phonk-fridays-004 .card__description {
    height: 202px;
}

#dne-card-demo-dark-trap-777 .card__description {
    height: 208px;
}

#dne-card-demo-dark-trap-4 .card__description {
    height: 204px;
}

#card-page-template {
    display: none;
}
/* END CUSTOM DNE-CARDS STYLES */

html,
body {
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
    object-fit: contain;
}

/* START DNE */

#card-template,
#door-card-template {
    display: none;
}

.swiper-slide[id*="dne-card-"] {
    width: 300px;
    height: 590px;
}

.card {
    position: relative;

    box-sizing: border-box;
    width: 300px;
    height: 590px;
    border: 10px solid black;

    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    color: #000;

    background: white;
}

.card--back {
    position: relative;
}

.card--back::before {
    content: "";

    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;

    display: block;

    background: url("https://lh6.googleusercontent.com/94ZiG04RaljkE0kBIgEnJ81qqspFoKyJfiKqkb7iJ0XPsKKfThuCHF6iqL5YOUtrAAc=w2400");
    background-size: cover;
    background-position: center;
}

.card__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 5px 0;
    margin-bottom: 10px;

    word-break: break-word;
}

.card__id {
    position: absolute;
    top: 0;
    font-size: 6px;
}

.card__title {
    margin: 0;

    font-family: 'Press Start 2P', cursive;
    word-break: break-word;
}

.card__header-left {
    width: 100%;
    max-width: 80%;
}

.card__header-right {
    display: flex;
    flex-direction: column;
    max-width: 20%;

    text-align: right;
}

.card__price {
    font-family: 'Press Start 2P', cursive;
}

.card__limits {
    font-family: "JetBrains Mono", monospace;
}

.card__description {
    overflow: hidden;
    padding: 0 5px;
}

.card__summary {
    padding: 0 4px;
    font-size: smaller;
}

.card__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
}

.card--door .card__footer {
    justify-content: space-between;
}

.card__footer-left,
.card__footer-right {
    max-width: 50%;
}

.card__bonus,
.card__budget,
.card__profit {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2em;
}

.js-cards-catalog {
    display: flex;
    flex-wrap: wrap;
}

.card-page {
    display: flex!important;
    height: 100%;

    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    color: #fff;

    background: #000;
}

@media (max-width: 768px) {
    .card-page {
        flex-direction: column;
    }
}

.card-page__preview {
    padding-left: 20px;
    padding-top: 20px;
}

.card-page__content {
    padding-left: 20px;
    padding-top: 20px;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    word-break: break-word;
}

.card-page__budget,
.card-page__profit,
.card-page__level {
    font-family: 'Press Start 2P', cursive;
}

.card-page__id {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 2;

    display: inline-block;

    text-align: right;

    transform: rotate(90deg);
    transform-origin: left;
}

/* END DNE */