@font-face {
    font-family: "Cyberpunk";
    src:
            url(https://assets.codepen.io/2585/Cyberpunk-Regular.svg#Cyberpunk) format('svg'),
            url(https://assets.codepen.io/2585/Cyberpunk-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../../../fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --color: #11dbab;
    --light-color: #5ff3d0;
    --transparent-color: rgba(17, 219, 171, 0.21);
    --dark-color: #0a7c61;
    --skew: 1deg;
}
