.stone-container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 940px) {
    .stone-container {
        padding-left: 0;
        padding-right: 0;
    }
}

.stone-btn {
    padding: 0 15px;
    border: none;

    font-family: "JetBrains Mono", monospace;
    text-decoration: none !important;
    color: #fff !important;
    font-size: 15px;
    line-height: 30px;
    cursor: pointer;
    border-radius: 2px;
    background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
}

.stone-btn.--secondary {
    display: inline-block;
    padding: 0 15px;

    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    color: #62b7d6!important;

    cursor: pointer;
    background: linear-gradient(to right, #233d4e, #243f54);
}

.stone-breadcrumbs {
    display: block;
    margin-bottom: 12px;

    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    line-height: 14px;
    /*color: #7A7777FF;*/
    opacity: .7;
}

.stone-breadcrumbs__link + .stone-breadcrumbs__link::before {
    content: " > ";
}

.stone {
    /*t*/
    /*padding-top: 436px;*/
    width: 100%;
    min-height: 1494px;
    /*t*/

    position: relative;

    /*padding-top: 80px;*/

    /*background: linear-gradient(to right, #005473, #008c5b);*/
    background: linear-gradient(to left, #1b2838, #06625d);
}

/*t*/
.stone::before {
    /*content: "";*/

    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 5;

    /*max-width: 1348px;*/
    max-width: 100%;
    width: calc(100% - 40px);
    /*min-height: 3494px;*/

    /*background-image: url("../../img/bg-merezja.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    /*transform: scale(1.0) translate(-90px, -436px);*/
    transform-origin: center;
}

.stone::after {
    /*content: "";*/

    position: absolute;
    top: 1500px;
    left: 0;
    right: 0;
    bottom: 0;

    max-width: 1348px;
    width: 100%;
    min-height: 3494px;

    /*background-image: url("../../img/layout-game-page.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    /*transform: scale(1.0) translate(-90px, -436px);*/
    transform-origin: center;
}

.stone-header {
    padding: 7px 9px;
    margin-bottom: 70px;
    background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
}

.stone-header__logo {
    display: flex;
    align-items: center;
    font-size: 8px;
}

.stone-header__logo-img {
    position: relative;
    top: -2px;
    width: 14px;
    margin-right: 6px;
    height: auto;
}

.stone-game__name {
    display: block;
    margin-bottom: 20px;

    font-size: 3rem;
}

@media (min-width: 940px) {
    .stone-game__name {
        margin-bottom: 40px;
    }
}

.stone-game__main {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

@media (min-width: 940px) {
    .stone-game__main {
        flex-direction: row;
    }
}

.stone-game__preview-wrap {
    margin-bottom: 30px;
}

@media (min-width: 940px) {
    .stone-game__preview-wrap {
        margin-bottom: 0;
    }
}

.stone-game__preview-wrap > * + * {
    margin-top: 20px;
}

.stone-game__preview {
    /*max-width: 640px;*/
    /*max-width: 640px;*/
    /*height: 460px;*/
    max-width: 600px;
    padding: 5px;

    background: #0b1016;
}

@media (min-width: 940px) {
    .stone-game__preview {
        height: 420px;
    }
}


.stone-game__overview {
    max-width: 600px;
    padding: 20px;
    /*border-radius: 3px;*/

    background: #0b1016;
}

@media (min-width: 940px) {
    .stone-game__overview {
        max-width: none;
        margin-left: 20px;
    }
}

.stone-game__overview-img-wrap {}
.stone-game__overview-img {}
.stone-game__overview-content {}
.stone-game__overview-descr {
    display: block;
    margin-bottom: 30px;

    color: white;

    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    line-height: 22px;
}

.stone-game__overview-tr {
    display: flex;
    margin-bottom: 12px;

    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    line-height: 14px;
}

.stone-game__overview-tl {
    margin-right: 8px;
    color: #7A7777FF;
}

.stone-game__overview-tl.--uppercase {
    text-transform: uppercase;
}

.stone-game__overview-tr-tags {
    flex-direction: column;
}

.stone-game__overview-tr-tags .stone-game__overview-tl {
    margin-bottom: 6px;
}

.stone-game__overview-tr-tags .stone-game__overview-td {
    line-height: 32px;
}

.stone-game__overview-td {
    color: #00e48c;
}

.stone-game__overview-td span {
    /*margin: 1px;*/

    color: white;
    /*box-shadow: 0 0 0 5px #00e48c;*/
    border: 5px solid #00e48c;
    background: #00e48c;
}

.stone-game__play {
    position: relative;

    max-width: 600px;
    width: 100%;
    padding: 20px 30px 40px;

    background: #0b1016;
}

.stone-game__play-title {
    display: block;
    margin-bottom: 4px;

    font-family: "JetBrains Mono", monospace;
    font-size: 30px;
    line-height: 34px;
}

.stone-game__play-title-name {
    position: relative;
    bottom: -5px;

    font-family: "Press Start 2p", "JetBrains Mono", monospace;
}

.stone-game__play-descr {
    display: block;

    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    line-height: 14px;
}

.stone-game__play-controls {
    position: absolute;
    bottom: -15px;
    right: 15px;

    display: flex;

    font-family: "JetBrains Mono", monospace;

    background: black;
}

.stone-game__play-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 14px;
    color: white;
    font-size: 12px;
    line-height: 14px;
}

.stone-target,
.stone-game__play-btn {
    padding: 12px 24px;
    border: none;
    color: white;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    text-shadow: 1px 0px 2px black;
    cursor: pointer;
    background: linear-gradient(to right, #00ffff, #00da91);
}

.stone-game__release {
    padding-bottom: 0;
    border: 1px solid #4e81ae;

    background: linear-gradient(to right, #29475f, #56a2cd);
}
.stone-game__release .stone-game__play-footer {
    padding: 20px 30px 40px;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 20px;
    background: linear-gradient(to right, #0f1f28, #223d50);
}

.stone-game__content {
    display: flex;
    flex-direction: column;
}

@media (min-width: 940px) {
    .stone-game__content {
        flex-direction: row;
    }
}

.stone-game__post {
    flex-shrink: 0;
    max-width: 600px;
    width: 100%;
}

.stone-game__post .stone-game__play {
    margin-bottom: 30px;
}

.stone-game__download {
    background: linear-gradient(to right, #00c3b4, #1672ab);
}

.stone-game__aside {
    max-width: 600px;
    width: 100%;
}

@media (min-width: 940px) {
    .stone-game__aside {
        max-width: none;
    }
}

.stone-game__aside-block {
    padding: 16px;
    background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
}

.stone-game__aside-block + .stone-game__aside-block {
    margin-top: 20px;
}

.stone-game__aside-row {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 2px;

    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    color: #66c0f4;

    background: rgba( 103, 193, 245, 0.1 );
    border-radius: 1px;
}

.stone-game__aside-row .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 36px;
    padding: 6px 8px;
    margin-right: 8px;
    background-color: rgba( 0, 0, 0, 0.5 );
}

.stone-game__aside-title {
    padding: 10px 18px;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -16px;
    margin-bottom: 16px;

    font-family: "JetBrains Mono", monospace;
    color: #fff;
    font-size: 16px;

    background-color: rgba(0,0,0, .2);
}

.stone-game__aside-text {
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    color: #8f98a0;
}

.stone-game__aside-text.--l {
    color: #acb2b8;
    font-size: 14px;
    line-height: 22px;
}

.stone-game__aside-langs {
    width: 100%;
    font-size: 12px;
    font-family: "JetBrains Mono", monospace;
    color: #8f98a0;
    border-collapse: collapse;
}

.stone-game__aside-langs tr {
    border-bottom: 1px solid #8f98a0;
}

.stone-game__aside-langs tr:first-child td {
    color: #8f98a0;
}

.stone-game__aside-langs td {
    text-align: center;
    color: #67c1f5;
    padding: 3px 0px 3px 0px;
}

.stone-game__aside-langs td:first-child {
    text-align: left;
    color: #8f98a0;
    width: 35%;
}

.stone-game__aside-langs tr:last-child td:last-child {
    color: #8f98a0;
}

.stone-game__aside-action {
    padding: 16px 0 6px;
}

.stone-game__about.--system-require {
    margin-top: 60px;
}

.stone-game__about.--system-require .stone-game__about-textfield {
    font-size: 12px;

}

.stone-game__about.--system-require ul {
    padding: 16px;
    list-style: none;
    background-color: rgba( 0, 0, 0, 0.5 );
}

.stone-game__about.--system-require b {
    color: #61686D;
}

.stone-game__about-title {
    display: block;
    margin-bottom: 20px;

    font-family: "JetBrains Mono", monospace;
}

.stone-game__about-textfield {
    font-size: 16px;
    line-height: 20px;
    font-family: "JetBrains Mono", monospace;
}

.stone-game__about-textfield h3 {
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    font-size: 20px;
    line-height: 26px;
}

.stone-game__about-textfield p {
    margin-top: .8rem;
    margin-bottom: .8rem;
    font-size: 16px;
    line-height: 22px;
}

.stone-game__about-textfield p + p {

}

.stone-game__achievements {
    display: flex;
    margin-top: 5px;
}

.stone-game__achievements-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-right: 5px;

    border-radius: 3px;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px black;
    background: black;
}

.stone-game__achievements-item img {
    width: 100%;
    object-fit: contain;
}

.stone-game__early {
    border: 1px solid #4e81ae;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 20px;
    font-family: "JetBrains Mono", monospace;
}
.stone-game__early-header {
    padding: 25px 15px;
    background: linear-gradient(135deg, rgba(87,164,208,1) 0%,rgba(48,93,122,1) 100%);
}
.stone-game__early-title {
    display: block;
    margin-bottom: 12px;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
}
.stone-game__early-subtitle {
    display: block;
    margin-bottom: 4px;

    font-size: 15px;
    line-height: 16px;
    color: #fff;
}
.stone-game__early-descr {
    color: #b8e0fd;
    font-size: 13px;
    line-height: 18px;
}

.stone-game__early-faq {
    position: relative;
    max-height: 200px;
    padding: 8px;
    padding-bottom: 20px;
    background-color: rgba( 0, 0, 0, 0.5 );
    overflow: hidden;
}

.stone-game__early-faq.--open {
    max-height: none;
}

.stone-game__early-faq-more-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;

    padding: 0;
    border: none;

    font-family: "JetBrains Mono", monospace;
    color: #66c0f4;
    font-size: 16px;
    line-height: 20px;

    background: none;
    cursor: pointer;
}

.stone-game__early-faq-more-btn span {
    position: relative;
    z-index: 2;
}

.stone-game__early-faq-more-btn::before {
    content: "";

    position: absolute;
    bottom: -25px;
    right: -50px;
    z-index: 0;

    width: 200px;
    height: 70px;

    background: radial-gradient(rgba(0, 0, 0, .7) 5%, transparent 85%);
    /*box-shadow: 0 0 2px 14px rgba(0, 0, 0, .5);*/
    /*background: radial-gradient(rgba(0, 0, 0, .5), transparent);*/
}

@media (min-width: 940px) {
    .stone-game__early-faq-more-btn::before {
        display: none;
    }
}

.stone-game__early-faq-label {
    display: block;
    margin-bottom: 10px;

    font-family: "JetBrains Mono", monospace;
    font-size: 11px;
    color: #61686d;
    text-transform: uppercase;
}

.early-faq {}
.early-faq + .early-faq {
    margin-top: 20px;
}

.early-faq__ask {
    margin-top: 10px;

    font-size: 14px;
    color: #fff;
}

.early-faq__answer {
    font-style: italic;
    font-size: 14px;
    color: #8f98a0;
    line-height: 21px;
}

.early-faq__answer a {
    text-decoration: underline;
}

.stone-footer {
    position: relative;

    display: block;
    width: 100%;
    padding-bottom: 240px;
    margin-top: 80px;
}

@media (min-width: 940px) {
    .stone-footer {
        min-height: 100vh;
        padding-bottom: 20vh;
    }
}

.stone-footer__banner {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.stone-footer::before {
    /*content: "";*/

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: block;
    width: 100%;
    height: 100vh;

    background-image: url("../../img/bg-footer.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.stone-footer__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: flex-end;
    width: 100%;
    min-height: 20vh;

    /*background: yellow;*/
}

.stone-footer__panel {
    width: 100%;
    padding: 1px 10px;

    color: rgba(255, 255, 255, .8);
    /*color: rgba(255, 255, 255, .8);*/

    /*background-color: #0b1016;*/
    /*background-image: linear-gradient(to left, #1b2838, #06625d);*/
    /*backdrop-filter: blur(50px) opacity(.5);*/
}

.stone-footer__hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (min-width: 940px) {
    .stone-footer__hero {
        flex-direction: row;
        padding-bottom: 30px;
    }
}

.stone-footer__target {
    padding: 12px 35px;
    margin-bottom: 15px;
    align-self: flex-start;
    font-family: "JetBrains Mono", monospace;
    white-space: nowrap;
    /*color: white;*/
    /*background: #00e48c;*/
    cursor: pointer;
}

@media (min-width: 940px) {
    .stone-footer__target {
        padding: 12px 46px;
        margin-right: 30px;
        margin-bottom: 0;
    }
}

.stone-footer__target::before {
    content: "";

    position: relative;
    bottom: -2px;

    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 4px;

    background: url("../../img/icon-play.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .8;
}

.stone-stats {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;

    list-style: none;
}

@media (min-width: 940px) {
    .stone-stats {
        justify-content: flex-start;
    }
}

.stone-stats__item + .stone-stats__item {
    margin-left: 10px;
}

@media (min-width: 940px) {
    .stone-stats__item + .stone-stats__item {
        margin-left: 25px;
    }
}

.stone-stats__item {

}

.stone-stats__label {
    display: block;
    margin-bottom: 5px;

    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

@media (min-width: 940px) {
    .stone-stats__label {
        font-size: 19px;
    }
}

.stone-stats__value {
    font-family: "JetBrains Mono", monospace;
    font-size: 13px;
    color: rgba(255, 255, 255, .6);
}

.stone-footer__menu {
    display: flex;
    flex-direction: column;
    padding: 6px 8px;
    margin-bottom: 10px;

    background-image: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
}

@media (min-width: 940px) {
    .stone-footer__menu {
        flex-direction: row;
    }
}

@media (min-width: 940px) {
    .stone-footer__menu-item + .stone-footer__menu-item {
        margin-left: 30px;
    }
}

.stone-footer__menu-item {
    padding: 2px 6px;
    color: inherit;
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    transition: .15s ease;
}

.stone-footer__menu-item:hover,
.stone-footer__menu-item:active,
.stone-footer__menu-item:visited {
    color: white;
    background: rgba(255, 255, 255, .2);
}

.js-to-top {
    cursor: pointer;
}

.stone-stats__item.--saves {
    display: none;
}

.stone-game__play,
.stone-game__preview,
.stone-game__post,
.stone-game__aside {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 940px) {
    .stone-game__play,
    .stone-game__preview,
    .stone-game__aside {
        margin-left: 0;
        margin-right: 0;
    }

    .stone-game__overview {
        margin-right: 0;
    }

    .stone-game__post {
        margin-left: 0;
        margin-right: 20px;
    }

    .stone-stats__item.--saves {
        display: block;
    }
}
