.stone-container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.stone-btn {
    padding: 0 15px;
    border: none;

    font-family: "JetBrains Mono", monospace;
    text-decoration: none !important;
    color: #fff !important;
    font-size: 15px;
    line-height: 30px;
    cursor: pointer;
    border-radius: 2px;
    background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
}

.stone-breadcrumbs {
    display: block;
    margin-bottom: 12px;

    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    line-height: 14px;
    /*color: #7A7777FF;*/
    opacity: .7;
}

.stone-breadcrumbs__link + .stone-breadcrumbs__link::before {
    content: " > ";
}

.stone {
    /*t*/
    /*padding-top: 436px;*/
    width: 100%;
    min-height: 1494px;
    /*t*/

    position: relative;

    padding-top: 80px;

    /*background: linear-gradient(to right, #005473, #008c5b);*/
    background: linear-gradient(to left, #1b2838, #06625d);
}

/*t*/
.stone::before {
    /*content: "";*/

    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 5;

    /*max-width: 1348px;*/
    max-width: 100%;
    width: calc(100% - 40px);
    /*min-height: 3494px;*/

    /*background-image: url("../../img/bg-merezja.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    /*transform: scale(1.0) translate(-90px, -436px);*/
    transform-origin: center;
}

.stone::after {
    /*content: "";*/

    position: absolute;
    top: 1500px;
    left: 0;
    right: 0;
    bottom: 0;

    max-width: 1348px;
    width: 100%;
    min-height: 3494px;

    /*background-image: url("../../img/layout-game-page.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    /*transform: scale(1.0) translate(-90px, -436px);*/
    transform-origin: center;
}

.stone-game__name {
    display: block;
    margin-bottom: 40px;

    font-size: 3rem;
}

.stone-game__main {
    display: flex;
    margin-bottom: 30px;
}

.stone-game__preview-wrap > * + * {
    margin-top: 20px;
}

.stone-game__preview {
    /*max-width: 640px;*/
    /*max-width: 640px;*/
    /*height: 460px;*/
    max-width: 600px;
    height: 420px;
    padding: 5px;

    background: #0b1016;
}

.stone-game__overview {
    padding: 20px;
    margin-left: 20px;
    /*border-radius: 3px;*/

    background: #0b1016;
}
.stone-game__overview-img-wrap {}
.stone-game__overview-img {}
.stone-game__overview-content {}
.stone-game__overview-descr {
    display: block;
    margin-bottom: 30px;

    color: white;

    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    line-height: 22px;
}

.stone-game__overview-tr {
    display: flex;
    margin-bottom: 12px;

    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    line-height: 14px;
}

.stone-game__overview-tl {
    margin-right: 8px;
    color: #7A7777FF;
}

.stone-game__overview-tl.--uppercase {
    text-transform: uppercase;
}

.stone-game__overview-tr-tags {
    flex-direction: column;
}

.stone-game__overview-tr-tags .stone-game__overview-tl {
    margin-bottom: 6px;
}

.stone-game__overview-tr-tags .stone-game__overview-td {
    line-height: 32px;
}

.stone-game__overview-td {
    color: #00e48c;
}

.stone-game__overview-td span {
    /*margin: 1px;*/

    color: white;
    /*box-shadow: 0 0 0 5px #00e48c;*/
    border: 5px solid #00e48c;
    background: #00e48c;
}

.stone-game__play {
    position: relative;

    max-width: 600px;
    width: 100%;
    padding: 20px 30px 40px;

    background: #0b1016;
}

.stone-game__play-title {
    display: block;
    margin-bottom: 4px;

    font-family: "JetBrains Mono", monospace;
    font-size: 30px;
    line-height: 34px;
}

.stone-game__play-title-name {
    position: relative;
    bottom: -5px;

    font-family: "Press Start 2p", "JetBrains Mono", monospace;
}

.stone-game__play-descr {
    display: block;

    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    line-height: 14px;
}

.stone-game__play-controls {
    position: absolute;
    bottom: -15px;
    right: 15px;

    display: flex;

    font-family: "JetBrains Mono", monospace;

    background: black;
}

.stone-game__play-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 14px;
    color: white;
    font-size: 12px;
    line-height: 14px;
}

.stone-game__play-btn {
    padding: 12px 24px;
    border: none;
    color: white;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    text-shadow: 1px 0px 2px black;
    background: linear-gradient(to right, #00ffff, #00da91);
}

.stone-game__content {
    display: flex;
}

.stone-game__post {
    flex-shrink: 0;
    max-width: 600px;
    width: 100%;
    margin-right: 20px;
}

.stone-game__aside {
    width: 100%;
}

.stone-game__aside-block {
    padding: 16px;
    background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
}

.stone-game__aside-block + .stone-game__aside-block {
    margin-top: 20px;
}

.stone-game__aside-row {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 2px;

    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    color: #66c0f4;

    background: rgba( 103, 193, 245, 0.1 );
    border-radius: 1px;
}

.stone-game__aside-row .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 36px;
    padding: 6px 8px;
    margin-right: 8px;
    background-color: rgba( 0, 0, 0, 0.5 );
}

.stone-game__aside-text {
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    color: #8f98a0;
}

.stone-game__about {
}

.stone-game__about-title {
    display: block;
    margin-bottom: 20px;

    font-family: "JetBrains Mono", monospace;
}

.stone-game__about-textfield {
    font-size: 16px;
    line-height: 20px;
    font-family: "JetBrains Mono", monospace;
}

.stone-game__achievements {
    margin-top: 5px;
}

.stone-game__achievements-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;

    border-radius: 3px;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px black;
    background: black;
}

.stone-game__achievements-item img {
    width: 100%;
    object-fit: contain;
}

.stone-game__early {
    border: 1px solid #4e81ae;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 20px;
    font-family: "JetBrains Mono", monospace;
}
.stone-game__early-header {
    padding: 25px 15px;
    background: linear-gradient(135deg, rgba(87,164,208,1) 0%,rgba(48,93,122,1) 100%);
}
.stone-game__early-title {
    display: block;
    margin-bottom: 12px;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
}
.stone-game__early-subtitle {
    display: block;
    margin-bottom: 4px;

    font-size: 15px;
    line-height: 16px;
    color: #fff;
}
.stone-game__early-descr {
    color: #b8e0fd;
    font-size: 13px;
    line-height: 18px;
}

.stone-game__early-faq {
    padding: 8px;
    background-color: rgba( 0, 0, 0, 0.5 );
}

.stone-game__early-faq-label {
    display: block;
    margin-bottom: 10px;

    font-family: "JetBrains Mono", monospace;
    font-size: 11px;
    color: #61686d;
    text-transform: uppercase;
}

.early-faq {}
.early-faq + .early-faq {
    margin-top: 20px;
}

.early-faq__ask {
    margin-top: 10px;

    font-size: 14px;
    color: #fff;
}

.early-faq__answer {
    font-style: italic;
    font-size: 14px;
    color: #8f98a0;
    line-height: 21px;
}
