.wall {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    transform: translateY(0) scale(1);

    background-attachment: fixed;
    background-image: url(../../img/bg-wall.jpg);
    /*background-image: url(../../img/layout-week.png);*/
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;

    transition: 1.2s ease-in-out;
}

.wall.--sprayable:hover {
    cursor: url("../../img/icon-spray@52px.png"), pointer;
}

.wall.--open {
    transform: translateY(280%) translateZ(200px) scale(1.3);
}

.scroll-wall-wrap {
    position: relative;
    z-index: 2;
}

.scroll-wall {
    z-index: 1;
    background: none;
}

.spray {
    position: absolute;

    display: block;
    width: 100px;
    height: 30px;

    background: transparent;
    background-repeat: no-repeat;
    background-size: contain;

    transition: .2s ease-in-out;
    animation: drying 3s ease-in-out;
}

.spray.--0 {
    width: 100px;
    height: 84px;
    background-image: url("../../img/sprays/spray-0.png");
}

.spray.--1 {
    width: 300px;
    height: 141px;
    background-image: url("../../img/sprays/spray-1.png");
}

.spray.--2 {
    width: 391px;
    height: 760px;
    background-image: url("../../img/sprays/spray-2.png");
}

.spray.--3 {
    width: 520px;
    height: 555px;
    background-image: url("../../img/sprays/spray-3.png");
}

.spray.--4 {
    width: 420px;
    height: 454px;
    background-image: url("../../img/sprays/spray-4.png");
}

.spray.--5 {
    width: 600px;
    height: 162px;
    background-image: url("../../img/sprays/spray-5.png");
}

.spray.--6 {
    width: 240px;
    height: 115px;
    background-image: url("../../img/sprays/spray-6.png");
}

.spray.--7 {
    width: 670px;
    height: 300px;
    background-image: url("../../img/sprays/spray-7.png");
}

.spray.--8 {
    width: 800px;
    height: 351px;
    background-image: url("../../img/sprays/spray-8.png");
}

.spray.--9 {
    width: 420px;
    height: 615px;
    background-image: url("../../img/sprays/spray-9.png");
}


.spray.--10 {
    width: 240px;
    height: 222px;
    background-image: url("../../img/sprays/spray-10.png");
}

.spray.--11 {
    width: 880px;
    height: 295px;
    background-image: url("../../img/sprays/spray-11.png");
}

.spray.--12 {
    width: 500px;
    height: 627px;
    background-image: url("../../img/sprays/spray-12.png");
}

.spray.--13 {
    width: 400px;
    height: 380px;
    background-image: url("../../img/sprays/spray-13.png");
}

.spray.--14 {
    width: 200px;
    height: 128px;
    background-image: url("../../img/sprays/spray-14.png");
}

.spray.--14 {
    width: 810px;
    height: 420px;
    background-image: url("../../img/sprays/spray-15.png");
}

.spray.--drying {
    animation: drying 2s ease-in-out;
}

@keyframes drying {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
