.achievement {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1201;
    transform: translateY(0);

    max-width: 259px;
    width: 100%;
    min-height: 100px;
    padding: 20px;
    padding-left: 96px;
    padding-top: 24px;

    background: linear-gradient(to bottom, #4e4e50, #241e20);
    /*background: url("../../img/achievements/img.png");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/

    transition: .5s ease;
    transform-origin: bottom right;
}
.achievement:hover {
    max-width: 380px;
    padding-left: 106px;
    transform: translateY(0) scale(1.05);
}
.achievement:hover .achievement__preview {
    transform: scale(1.12);
}
.achievement:hover .achievement__text {
    top: -12px;
    font-size: 14px;
    opacity: 1;
}
.achievement:hover .achievement__title {
    top: -22px;
    font-size: 17px;
}
.achievement:hover::before {
    font-size: 0;
    transform: scale(0);
    opacity: 0;
}
.achievement.--hidden {
    transform: translateY(110%);
}
.achievement::before {
    content: "Achievement Unlocked!";

    display: block;
    padding-bottom: 14px;

    font-size: 12px;
    transform: scale(1);
    opacity: 1;
    transition: .5s ease;
}
.achievement__title {
    position: relative;
    top: 0;
    font-size: 11px;
    transform: translateY(0);
    transition: .5s ease;
}
.achievement__text {
    position: relative;
    top: 0;
    display: block;
    font-size: 0;
    opacity: 0;
    transition: .5s ease;
}
.achievement__preview {
    position: absolute;
    top: 11px;
    left: 13px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    /*padding: 5px;*/

    border-radius: 3px;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px black;
    background: black;

    transform: scale(1);
    transform-origin: left top;
    transition: .5s ease;
}
.achievement__img {
    width: 100%;
    object-fit: contain;
}
