.box--inner::after, .box--inner::before
{
    display: none;
}

.box--outer {
    border: none;
}

.content .holder {
    position: static;
    transform: none;
}

.card {
    filter: invert(1) hue-rotate(180deg);
    text-shadow: none;
    text-transform: none;
}

.admin {
    display: flex;
    justify-content: center;
}

.admin__data {
    margin-left: 20px;

    font-size: 14px;
    text-align: left;
    text-transform: none;
}

.admin__data-cell > * {
    margin: 0;
    padding: 0;
}

.admin__data-cell {
    position: relative;
    padding-top: 10px;
}

.admin__data-label {
    font-size: 10px;
}

.admin__data-label.--absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.admin__data-field {
    text-align: left;
    font-size: 22px;
}


@media only screen and (max-width: 1260px) {
    .content {
        height: auto;
    }
}
