.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.menu {
    min-width: 100px;
    width: 70%;
    max-width: 460px;

    background-color: cyan;
    color: #fff;
}

.content {
    width: 100%;
}

.menu-button {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4;

    display: flex;
    align-items: flex-end;
    width: 80px;
    height: 80px;
    padding: 5px;
    padding-bottom: 0;

    cursor: pointer;

    -webkit-transition: 0.3s;
    transition: 0.3s;

    background-color: cyan;

    /*margin: 14px;
          border-radius: 5px;*/
}

.buy-body {
    color: white;
    background: black;

    font-family: "Press Start 2p", "JetBrains Mono", sans-serif;

}

.story {
    padding-top: 80px;
    text-align: center;
}

.story__textfield {
    color: black;
    background: white;

    min-height: 120px;
    padding: 20px;
    margin-bottom: 10px;

    font-family: "Press Start 2p", "JetBrains Mono", sans-serif;
    line-height: 2em;

}

.story__textfield-container {
    max-width: 800px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.story__textfield > *:last-child {
    margin-bottom: 0;
}

.buy__title {
    margin-bottom: 0;

    font-size: 7em;
    letter-spacing: -10px;
    text-align: center;
}

.buy__subtitle {
    margin-bottom: 3em;

    text-align: center;
    line-height: 30px;
}

.buy__type-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.buy__bundle-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.buy__bundle + .buy__bundle {
    margin-left: 20px;
}

.buy__bundle {
    position: relative;

    color: black;
    /*background: white;*/

    max-width: 400px;

    font-family: "Press Start 2p", "JetBrains Mono", sans-serif;
}

.buy__bundle-price {
    position: absolute;
    top: -20px;
    right: -10px;

    font-family: "Press Start 2p", "JetBrains Mono", sans-serif;
    font-size: 5em;
    color: cyan;

    text-shadow: 6px 5px 0 yellow;
}

.buy__bundle-price.--regular {
    right: -45px;
}

.buy__bundle-textfield {
    color: black;
    background: white;

    min-height: 150px;
    padding: 10px;
    margin-bottom: 10px;

    font-family: "JetBrains Mono", monospace;
    letter-spacing: -.8px;
}

.buy__bundle-textfield > *:last-child {
    margin-bottom: 0;
}

.buy__bundle-preview {
    width: 400px;
}

.buy__bundle-title {
    background: black;
    color: white;
    border: 2px solid white;
    margin: 0;
    padding: 15px;
}

.story-demo {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 77px;
}

:root {

    --bar-color: #38b000;
    --bar-wrap-back-color: white;
}

.status-info {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 110px;

}

.bar-info {
    position: relative;

}

.bar-info .line.--order {
    position: absolute;
    left: 0;
    top: 0;
}

.bar-info .line.--total {
    position: absolute;
    right: 0;
    top: 0;
}

.bar-info .line.--price {
    position: absolute;
    bottom: -230px;
    left: 50%;
    transform: translateX(-50%);

    font-family: "Press Start 2p", "JetBrains Mono", sans-serif;
    font-size: 130px;
    color: cyan;

    text-shadow: 6px 5px 0 yellow;
}

.bar-wrap {
    padding: 6px;
    margin-top: 50px;

    border-radius: 100px;

    /*background-color: blue;*/
    background-color: white;
    box-shadow: 0 0 32px blue;
}

.js-bar {
    max-width: 100%;
    width: 0%;
    height: 15px;

    transition: width .15s ease-out;

    /*background-color: var(--bar-color);*/
    background: linear-gradient(
            90deg,
            rgba(34, 193, 195, 1) 0%,
            rgba(45, 63, 253, 1) 100%
    );
    background-color: rgb(34, 193, 195);
    border-radius: 100px;
    box-shadow: inset -1px -1px 10px rgb(0 0 0 / .5);
}

.js-percentage {
    align-self: center;

    margin: 10px 0 25px;

    font-size: clamp(1.8rem, 3.5vw, 2.6rem);

    color: var(--text-color);
}

.line {
    margin: 0;

    font-size: clamp(1.4rem, 2.5vw, 1.8rem);

    color: var(--text-color);
}

.number {
    font-size: 1.4em;
    /*margin-left: 8px;*/
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-size: clamp(1.8rem, 3vw, 2.2rem);*/
}

.btn-wrap {
    align-self: center;
}

.btn-buy {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: min(15vw, 70px);
    height: min(15vw, 70px);
    border: 3px solid white;

    font-size: 2.8rem;

    transition: background .15s, color .15s;

    /*border-radius: 50%;*/
    /*background-color: black;*/
    color: white;
}

.btn-buy:active {
    background-color: white;
    color: black;
}

.order {
    visibility: hidden;
    opacity: 0;
    display: none;

    transition: .2s ease-in-out;
}

.order.--visible {
    visibility: visible;
    opacity: 1;
    display: block;
}

.cart {
    position: fixed;
    top: 0;
    right: 20px;

    display: flex;
    flex-direction: column;
    width: 420px;
    min-height: 620px;
    max-height: 100vh;
    padding: 20px;

    text-shadow: -1px 3px black;
    /*background-color: black;*/
    /*border: 3px solid white;*/
    transition: .2s ease-in-out;
}

.menu-button {
    visibility: hidden;
    opacity: 0;
    transform: scale(1) translateX(-100%);
    transition: .2s ease-in-out;
    box-shadow: inset 0 0 0 5px yellow;
}

.menu-button.--visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(0%);
}

.cart__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    color: yellow;
}

.cart__in {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    color: yellow;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 30px;
    padding: 5px 20px;
}

.cart-item__name {
    text-transform: capitalize;
}

.cart__advice {
    margin: 10px;
    line-height: 1.4;
    color: yellow;
}

.cart__advice:last-child {
    margin: 0;
    margin-top: 20px;
    font-size: 36px;
    line-height: 1;
}

.cart__controls {
    padding: 10px;
    padding-left: 20px;
}

.cart__controls-item {
    position: relative;

    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    border: none;

    background: transparent;
    color: yellow;

    font-family: "Press Start 2P", "JetBrains Mono", monospace;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    text-shadow: -1px 3px black;
}

.cart__controls-item + .cart__controls-item {
    margin-top: 10px;
}

.cart__copy::before {
    content: "";

    display: inline-block;
    width: 36px;
    height: 36px;
    padding: 10px;
    border: none;
    margin-right: 10px;

    background: url("../../img/buy/icon-copy.png") center no-repeat;
    background-size: contain;
}

.cart__copy::after {
    content: "1";

    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-72%, -30%);

    font-family: "Press Start 2p", "JetBrains Mono", sans-serif;
    font-size: 40px;
    color: yellow;
}

.cart__direct::before {
    content: "";

    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: none;
    margin-right: 10px;

    background: url("../../img/buy/icon-mail.png") center no-repeat;
    background-size: contain;
}

.cart__direct::after {
    content: "2";

    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-72%, -30%);

    font-family: "Press Start 2p", "JetBrains Mono", sans-serif;
    font-size: 40px;
    color: yellow;
}

.confirm-wrap {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 77px;
}

.confirm-wrap .rts-btn {
    font-size: 100px;
}

.js-text-order {
    position: absolute;
    z-index: -1;
    opacity: 0!important;
}

.buy-content {
    height: 100vh;
    background: black;
}
