#find-card-by-id-popup {
    max-width: 340px;
}

.card-by-id-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}

#cards-reward {
    opacity: 0;
    transition: .5s ease-in-out;
}

#cards-reward.--visible {
    opacity: 1;
}

.card {
    position: relative;
    overflow: hidden;

    box-sizing: border-box;
    width: 300px;
    height: 500px;
    border: 10px solid black;

    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    color: #000;
    text-align: left;

    background: white;
}

.card.--hide::before {
    content: "";

    position: absolute!important;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
    z-index: 10!important;

    width: 100%!important;
    height: 100%!important;

    background-image: url("../../img/bg-card.png")!important;
    background-size: cover!important;
}

.card.--exit-label {
    overflow: visible;
}

.card.--exit-label::before {
    content: "EXIT=>";

    position: absolute;
    top: -66px;
    left: 20px;

    font-family: "Press Start 2p", "JetBrains Mono", monospace;
    font-size: 42px;
    font-weight: 700;
    text-shadow:
    2px 3px 0 black,
    3px 4px 0 white,
    5px 7px 0 black;

    cursor: pointer;

    animation:
            bounce-left 2.8s both infinite,
            glowing-exit 2.8s ease-out infinite alternate;
}

.queue-wrap {
    max-width: 38%;
    overflow: hidden;
}

.card.--smith {
    visibility: hidden;
    opacity: 0;
}

.card.--smith.slide-in-blurred-right {
    visibility: visible;
    opacity: 1;
}

.card.--smith .card__header {
    position: static;
    z-index: 1;
}

.card.--smith .card__preview {
    position: absolute;
    z-index: 0;
    top: 0;
}

.card.--rare .card__preview {
    position: static;
}

.card.--rick {
    background: #6db855;
}
.card.--jerry {
    color: white;
    background: #2d3235;
}
.card.--summer {
    background: #c894b7;
}
.card.--morty {
    background: #46bae0;
}
.card.--beth {
    background: #993637;
}
.card.--darksranchik {
    color: white;
    background: #b33c37;
}
.card.--lightsranchik {
    color: white;
    background: #46bae0;
}
.card.--darksranchik .card__preview,
.card.--lightsranchik .card__preview {
    position: absolute;
}
.card--back {
    position: relative;
}

.card--back::before {
    content: "";

    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;

    display: block;

    background: url("https://lh6.googleusercontent.com/94ZiG04RaljkE0kBIgEnJ81qqspFoKyJfiKqkb7iJ0XPsKKfThuCHF6iqL5YOUtrAAc=w2400");
    background-size: cover;
    background-position: center;
}

.card__preview {
    display: block;
    width: 100%;
}

.card__preview[href]:hover {
    cursor: zoom-in;
}

[data-advice-id]:hover {
    cursor: help;
}

.card__controls {
    position: absolute;
    bottom: 0;
    z-index: 3;

    visibility: hidden;
    opacity: 0;

    padding: 5px;

    transition: .2s ease-in;
}

.card:hover .card__controls {
    visibility: visible;

    opacity: 1;
}

/*.card__controls:hover {*/
/*    visibility: visible;*/

/*    opacity: 1;*/
/*}*/

.card-btn,
.card__controls > button {
    font-size: 20px;
    padding: 0 10px;
    font-weight: 700;
    color: black;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    clip-path: var(--ui-notch-path);
    cursor: pointer;
    display: inline-block;
    font-family: var(--fonts-primary);
    letter-spacing: 0.045em;
    text-align: left;
    text-transform: uppercase;
    transform: translateY(0);
    transition: .1s ease-in;
}

.card-btn::before,
.card__controls > button::before {
    background-color: black;
    bottom: 10px;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    right: 2px;
    top: auto;
    transform: rotate(315deg) translateY(10px);
    width: var(--ui-notch-hypotenuse);
    z-index: 31;
    transition: .1s ease-in;
}

.card-btn:hover,
.card__controls > button:hover {
    background-color: rgba(80, 233, 239, 0.7)!important;
    border-color: var(--colors-secondary--500);
}

.card-btn:hover::before,
.card__controls > button:hover::before {
    background-color: var(--colors-secondary--500);
}

.card-btn:active,
.card__controls > button:active {
    transform: translateY(1px);
}

.card__controls .buy {
    margin-right: 15px;
    margin-left: 23px;
}

.card__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 5px 0;
    width: 100%;
    margin-bottom: 10px;

    word-break: break-word;
}

.card__id {
    position: absolute;
    top: 0;
    left: 6px;
    font-size: 6px;
}

.card__title {
    margin: 0;

    font-family: 'Press Start 2P', sans-serif;
    word-break: break-word;
}

.card__header-left {
    width: 100%;
    max-width: 80%;
}

.card__header-right {
    display: flex;
    flex-direction: column;
    max-width: 20%;

    text-align: right;
}

.card__price {
    font-family: 'Press Start 2P', sans-serif;
}

.card__limits {
    font-family: "JetBrains Mono", monospace;
}

.card__description {
    overflow: hidden;
    padding: 0 5px;
}

.card__summary {
    padding: 0 4px;
    font-size: smaller;
}

.card__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
}

.card--door .card__footer {
    justify-content: space-between;
}

.card__footer-left,
.card__footer-right {
    max-width: 50%;
}

.card__bonus {
    white-space: nowrap;
}

.card__bonus,
.card__budget,
.card__profit {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.2em;
}

.js-cards-catalog {
    display: flex;
    flex-wrap: wrap;
}

.card-catalog-wrap.--styled {
    padding-top: 80px;
}

.card-catalog-wrap.--styled .js-cards-catalog {

}

.card-catalog-wrap.--styled .js-cards-catalog > * {
    margin: 5px;
}

.catalog-controls__show-btn {
    z-index: 3;
}

.catalog-controls__hide-btn {
    z-index: 4;
}

.js-inventory-menu .card > *:not(.card__preview) {
    display: none;
}

.build .js-inventory-menu .card {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.build .js-inventory-menu .card > .card__title {
    display: block;
}

@keyframes bounce-left {
    0% {
        transform: translateX(-48px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        transform: translateX(-26px);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateX(-13px);
        animation-timing-function: ease-in;
    }
    82% {
        transform: translateX(-6.5px);
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateX(-4px);
        animation-timing-function: ease-in;
    }
    22%,
    52%,
    72%,
    84%,
    95% {
        transform: translateX(0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateX(-48px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
}

@keyframes glowing-exit {
    0% {
        color: var(--color);
        /*text-shadow: 0 0 1px var(--color);*/
        opacity: 1;
    }
    13% {
        color: black;
        text-shadow: 0 8px 1px var(--color);
        opacity: 0.9;
    }
    20% {
        color: var(--color);
        /*text-shadow: 0 0 1px var(--color);*/
        opacity: 1;
    }
    27% {
        color: black;
        /*text-shadow: 0 8px 1px var(--color);*/
        opacity: 0.9;
    }
    34% {
        color: var(--color);
        /*text-shadow: 0 5px 1px var(--color);*/
        opacity: 1;
    }
    40% {
        color: black;
        /*text-shadow: 0 8px 1px var(--color);*/
        opacity: 0.9;
    }
    48% {
        color: var(--color);
        /*text-shadow: 0 3px 1px var(--color);*/
        opacity: 1;
    }
    55% {
        color: black;
        /*text-shadow: 0 9px 1px var(--color);*/
        opacity: 0.9;
    }
    62% {
        color: var(--color);
        /*text-shadow: 0 5px 0 var(--color);*/
        opacity: 1;
    }
    100% {
        color: var(--color);
        /*text-shadow: 0 8px 0 var(--color);*/
    }
}
