/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/
/**::-moz-selection {*/
/*    background: crimson;*/
/*    color: #fff;*/
/*}*/
/**::selection {*/
/*    background: crimson;*/
/*    color: #fff;*/
/*}*/

.collector-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #000;

    width: 100%;
    height: 100%;
    overflow: hidden;
}

.collector-title {
    margin: 0;
    position: fixed;
    font-size: 3rem;
    text-transform: uppercase;
    color: #960e29;
    font-family: "Press Start 2P", "JetBrains Mono", monospace;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    color: #fff;
}

.scene {
    flex-shrink: 0;
    width: 400vw;
    height: 400vh;
    position: relative;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/124740/Frame%2019-2.png);
    background-position: center center;
    background-color: crimson;
}
.scene .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
.scene .middle span {
    color: #f37c94;
    text-align: center;
}
.scene .middle span + span {
    margin-top: 4rem;
}
.scene .middle span a {
    color: #f37c94;
}

.sticker {
    width: 6rem;
    height: 6rem;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sticker > img, .sticker > svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.sticker.animating-sticker {
    position: fixed;
    top: unset !important;
    right: unset !important;
    bottom: unset !important;
    left: unset !important;
    z-index: 20;
}
.sticker[data-sticker=ice] {
    left: 60%;
    top: 10%;
}
.sticker[data-sticker=ice-color] {
    left: 10%;
    top: 95%;
}
.sticker[data-sticker=pizza] {
    left: 45%;
    top: 38%;
}
.sticker[data-sticker=rick] {
    left: 60%;
    top: 90%;
}
.sticker[data-sticker=morty] {
    left: 10%;
    top: 20%;
}
.sticker[data-sticker=blobsweat] {
    left: 90%;
    top: 85%;
}
.sticker[data-sticker=sadcett] {
    left: 25%;
    top: 70%;
}
.sticker[data-sticker=banhammer] {
    left: 70%;
    top: 60%;
}
.sticker[data-sticker=pepehonk] {
    left: 75%;
    top: 35%;
}

.sticker-collection {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(49, 49, 49, 0.8);
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.sticker-collection__trigger {
    position: absolute;
    margin: auto;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 25px 25px;
    border-color: transparent transparent rgba(49, 49, 49, 0.8) transparent;
}
.sticker-collection > .sticker {
    width: 3rem;
    height: 3rem;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.sticker-collection > .sticker + .sticker {
    margin-left: 1rem;
}
.sticker-collection > .sticker--empty {
    opacity: 0.2;
}
.sticker-collection > .sticker--found {
    opacity: 1;
}

.color-wheel {
    position: fixed;
    width: 100vmax;
    height: 100vmax;
    background: red;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    transform: scale(0);
}
.color-wheel__inner {
    width: 200vmax;
    height: 200vmax;
    background: conic-gradient(#3498db 0 10%, #fff 10% 20%, #3498db 20% 30%, #fff 30% 40%, #3498db 40% 50%, #fff 50% 60%, #3498db 60% 70%, #fff 70% 80%, #3498db 80% 90%, #fff 90% 100%);
    transform: rotate(30deg);
    flex-shrink: 0;
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
}
@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg) scale(0.5);
    }
    to {
        transform: rotate(360deg) scale(0.5);
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg) scale(0.5);
    }
    to {
        transform: rotate(360deg) scale(0.5);
    }
}
