.js-open-cs {
    cursor: pointer;
}

#cs-game {
    visibility: hidden;
    z-index: -1;
    opacity: 0;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: rgba(0, 0, 0, .6);*/

    transition: .2s ease-in-out;
}

#cs-game.--visible {
    visibility: visible;
    z-index: 40;
    opacity: 1;
}

.cyber-strike {
    position: relative;

    display: block;
    width: 100vw;
    height: 100vh;
    background-size: contain;

    /*background: url('../../img/layout-cyber-strike.png');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cyber-strike::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    /*background-color: var(--colors-bg--500);*/
    /*background-image: radial-gradient( ellipse at 33% 10%, #461616 0%, transparent 75% );*/
    background-image: radial-gradient( ellipse at 15% 95%, #461616 0%, transparent 75% ), radial-gradient( ellipse at 3% 10%, #461616 0%, transparent 75% ), radial-gradient( ellipse at 1% 85%, black 0%, transparent 75% );
    background-repeat: no-repeat;
}

.cyber-strike__lobby {
    display: flex;
    max-width: 134vh;
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    /*background-color: var(--colors-bg--500);*/
    /*background-image: radial-gradient( ellipse at 33% 10%, #461616 0%, transparent 75% );*/
    background-repeat: no-repeat;
    color: var(--colors-on_bg--500);
}

.cyber-strike__menu {
    padding-left: 45px;
    padding-bottom: 40px;
    margin-top: auto;
}

.cyber-strike__menu-link {
    display: block;

    font-family: "JetBrains Mono", monospace;
    font-size: 24px;
}

.cyber-strike__menu-link + .cyber-strike__menu-link {
    margin-top: 10px;
}

.cyber-strike__menu-link.--cs-logo {
    margin-top: 20px;

    font-family: "Cyberpunk", "Press Start 2p", "JetBrains Mono", sans-serif;
    font-size: 38px;
}

.cyber-strike__menu-link.--cs-logo::after {
    content: "";

    position: absolute;
    top: -10%;
    left: 52%;
    z-index: -1;
    transform: translateX(-50%);

    display: block;
    width: 52px;
    height: 70px;

    background: url("../../img/--cs-logo.png");
    background-size: contain;
}
