.dialog-vertical {
    position: fixed;
    /* top: 0; */
    right: 10vw;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 1200;

    width: 420px;
    height: 600px;
}

.dialog-vertical.--styled {
    background-color: var(--colors-bg--500);
    background-image: radial-gradient( ellipse at 33% 10%, #461616 0%, transparent 75% );
    background-repeat: no-repeat;
    color: var(--colors-on_bg--500);
    padding: 10px;
    border: 2px solid var(--colors-tertiary--500);
    padding-bottom: 0;
    border-bottom: 0;
    transition: .2s ease-in-out;
    visibility: visible;
}

.dialog-vertical.--zero-inbox {
    transform: translateY(101%);
    visibility: hidden;
}

.dialog-vertical .dialog-vertical__feed {
    width: 400px;
    height: 1200px!important;
}
