.house {
    position: relative;
    height: 100vh;

    /*transform: scale(2.5) translate(-411px, 10px);*/
    /*transition: 2s ease-in-out;*/
    /*transform: scale(2.5) translate(571px, 10px);*/
    /*transform: scale(2.5) translate(341px, -49px);*/
}

.house__name {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    font-family: "Press Start 2p", "JetBrains Mono", monospace;
    font-size: 3em;
    line-height: 0;
}
