.windows__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}
.windows__bg .windows__bg--inner {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%) scale(.75);
    animation:1s linear infinite;
}
.windows__logo {
    transition: filter 15s ease;

}

.windows__bg .windows__logo {
    margin: 0 15% 0 0;
    min-width: 15vw;
    font-size: 0;
    transform: skew(-10deg);
    display: block;
    position: relative;
    float: right;
}
.windows__bg .windows__logo .windows__logo--inner{
    width: calc(50% - .5vw);
    height: auto;
    background-color: white;
    display: inline-block;
    padding: calc( 47% - .5vw ) 0 0;
    position: relative;
}
.windows__bg .windows__logo .windows__logo--inner:before {
    content: '';
    width: 100%;
    height: 3vw;
    position: absolute;
    top: -2vw;
    left: 0;
    border-radius: 100% 60% 0 0;
}
.windows__bg .windows__logo .windows__logo--inner:after {
    content: '';
    width: 100%;
    height: 3vw;
    position: absolute;
    top: calc( 100% - 2vw );
    left: 0;
    background-color: black;
    border: .1vw solid black;
    border-radius: 100% 60% 0 0;
}
.windows__bg .windows__logo .red{
    margin: 0 0 2vw;
    background: linear-gradient(90deg,#de641f,#de832f 20%,#d79d4c 40%,#de8430 60%,#df6420 70%,#bb4d20 80%,#a53624 90%,#a53624);
}
.windows__bg .windows__logo .red:before {
    background: linear-gradient(90deg,#de641f,#de832f 20%,#d79d4c 40%,#de8430 60%,#df6420 70%,#bb4d20 80%,#a53624 90%,#a53624);
}
.windows__bg .windows__logo .green{
    margin: 0 0 4vw .8vw;
    transform: rotate(180deg);
    z-index: 1;
    background: linear-gradient(90deg,#7faa2a,#85c12d 8%,#85c12d 55%,#7faa2a 60%,#76802f 80%,#4a582a 90%,#4a582a);
}
.windows__bg .windows__logo .green:before {
    background: linear-gradient(90deg,#7faa2a,#85c12d 8%,#85c12d 55%,#7faa2a 60%,#76802f 80%,#4a582a 90%,#4a582a);
}
.windows__bg .windows__logo .blue{
    clear: both;
    top: -1vw;
    background: linear-gradient(90deg,#2e328e,#5b75b8 8%,#8097cc 30%,#5174b8 60%,#4057a5 70%,#324399 80%,#2e3280 90%,#2e3280);
}
.windows__bg .windows__logo .blue:before {
    background: linear-gradient(90deg,#2e328e,#5b75b8 8%,#8097cc 30%,#5174b8 60%,#4057a5 70%,#324399 80%,#2e3280 90%,#2e3280);
}
.windows__bg .windows__logo .yellow{
    margin: 0 0 0 .8vw;
    transform: rotate(180deg);
    top: -3vw;
    background: linear-gradient(90deg,#b39a1c,#dcb125 8%,#dcb125 55%,#b39a1c 60%,#b39a1c 80%,#946625 98%,#959536);
}
.windows__bg .windows__logo .yellow:before {
    background: linear-gradient(90deg,#b39a1c,#dcb125 8%,#dcb125 55%,#b39a1c 60%,#b39a1c 80%,#946625 98%,#959536);
}
.windows__bg .windows__name {
    color: white;
    font-family: sans-serif;
    clear: both;
    top: -3.4vw;
    position: relative;
}
.windows__bg .windows__name p {
    font-size: 1.8vw;
    font-family: "JetBrains Mono", monospace;
}
.windows__bg .windows__name .windows__name--inner{
    font-family: "Press Start 2p", sans-serif;
    font-size: 6vw;
    font-weight: bold;
}
.windows__bg .windows__name .windows__name--inner span {
    color: #c3441d;
    font-size: 4.8vw;
    bottom: 2.8vw;
    position: relative;
}
.windows__bg .windows__bg--loading {
    width: 20vw;
    height: 2.5vw;
    border: .2vw solid #878787;
    margin: 2.5vw auto 0;
    border-radius: .5vw;
    position: relative;
    overflow: hidden;
}
.windows__bg .windows__bg--loading ul {
    display: flex;
    box-sizing: content-box;
    font-size: 0;
    /*display: inline-block;*/
    position: absolute;
    top: 0;
    left: -2.6vw;
    animation:2s linear infinite loading;
    width: 3.9vw;
}
.windows__bg .windows__bg--loading ul li {
    width: 1.2vw;
    height: 2.0vw;
    display: inline-block;
    background: linear-gradient(180deg,#09112d,#8197cd 20%,#8197cd 40%,#5d62ab 60%,#4158a6 70%,#4158a6 80%,#204399 90%,#1c2954);
    margin: 0 .1vw 0 0;
}
@keyframes loading {
    0% { left: -2.6vw; }
    100% { left: 20vw;}
}
