#sound-list {
    display: block;
    max-height: 105px;
    overflow-y: scroll;
}

#sound-list::-webkit-scrollbar {
    width: 0;
}

.inventory {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 21;
    transform: translateY(-50%);

    padding: 5px;

    font-family: "JetBrains Mono", monospace;
    /*color: inherit;*/
    color: white;
    font-size: 16px;
    text-align: right;
    text-shadow: 2px 1px 0 black;
}

.inventory button {
    transition: .1s ease-in;

    font-size: inherit;
    font-family: "JetBrains Mono", monospace;
    color: inherit;
    text-align: right;

    padding: 0;
    border: none;
    cursor: pointer;

    background: none;
    text-shadow: 2px 1px 0 black;
}

.inventory button:hover,
.inventory button:active,
.inventory button:visited {
    color: inherit;
    text-decoration: none;
    text-shadow: none;
}

.inventory button:hover,
.inventory button.selected {
    background-color: white;
    color: black;
    cursor: pointer;
    text-shadow: none;
}

.js-in-car {
    display: inline;
}

.js-car-in {
    display: none;
}

.js-car-in {
    position: absolute;
}

.js-car-open {
    display: block;
}

.inventory.player-obj {
    right: auto;
    left: 0;

    text-align: left;
}

.inventory.project-obj {
    right: auto;
    left: 0;
    top: 260px;

    text-align: left;
}

#project-details-list {
    display: block;
    padding-left: 40px;
}

.project-detail {
    display: block;
}

.project-obj .inventory-item {
    display: inline;
}

.inventory-item {
    transition: .1s ease-in;

    display: block;
    color: inherit;
    text-decoration: none;
}

.inventory-item.--shake {
    animation: shake .7s ease-in-out infinite;
    animation-delay: 1s;
}

@keyframes shake {
 0% {
     transform: rotate(0);
 }

    20% {
        transform: rotate(-15deg);
    }

    40% {
        transform: rotate(15deg);
    }

    60% {
        transform: rotate(-15deg);
    }

    80% {
        transform: rotate(15deg);
    }

    85% {
        transform: rotate(-15deg);
    }

    80% {
        transform: rotate(15deg);
    }

    95% {
        transform: rotate(0);
    }
}

.player-obj .inventory-item {
    display: inline-block;
}

#player-crew-list .inventory-item,
#player-dia-list .inventory-item {
    display: block;
    padding-left: 40px;
}

.inventory-item:hover, .inventory-item:active, .inventory-item:visited {
    color: inherit;
    text-decoration: none;
    text-shadow: none;
}

.inventory-item:hover,
.inventory-item.selected {
    background-color: white;
    color: black;
    cursor: pointer;
    text-shadow: none;
}

.inventory-item::after {
    content: ",";

}

.inventory-item:last-child::after {
    content: "";

}

#inventory-card-display {
    position: fixed;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}
