.map {
    position: relative;

    font-family: "JetBrains Mono", sans-serif;
    color: black;
    /*background: white;*/
}

.map__sidebar {
    background: #fdd94d;

    max-width: 300px;
    height: 100%;
    padding: 20px;
}

.map__overview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map__title {
    margin: 0;
}

.map__logo {
    position: relative;

    max-width: 70%;
    padding-top: 100px;
}

.map__logo.--link {
    cursor: pointer;
}

.map__district-title {
    margin: 0;
}

.map__district-descr {
    margin-bottom: 60px;
}

.map__pin-type-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.map__pin-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 15px 0;
}

.map__pin-type-icon {
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
}

.map__pin-type-title {
    margin: 0;
}

.map__pin-type-descr {
    margin: 0;
    font-size: 11px;
    text-align: center;
}

.map__descr {
    font-size: 13px;
    text-align: center;
}

.map__nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    transform: translate(260px, 0px);

    background: white;
    display: block;
    width: 285px;
    min-height: 250px;
    padding-bottom: 10px;
}

.map__nav-title {
    text-transform: uppercase;
    text-align: center;
}

.map__nav-sequence {
    display: flex;
    align-items: baseline;
}

.map__nav-sequence-author {
    min-width: 105px;
    padding: 0 5px;

    text-align: right;
    font-size: 15px;
    text-transform: uppercase;
}

.map__nav-sequence-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
}

.map__nav-sequence-item {
    display: block;
    width: 20px;
    height: 20px;

    color: white;
    text-align: center;

    box-shadow: 0 0 0 3px black;
    background: black;
}

.map__img {
    /*width: 100%;*/
    /*max-height: 90vh;*/
}

.map-canvas {
    box-shadow: 0 0 0 3px black;

    position: absolute;
    left: 325px;
    top: 30px;
    z-index: 2;

    width: 72.4%;
    height: 88.5%;

    display: flex;
    flex-wrap: wrap;

    /*display: grid;*/
    /*grid-template-areas:*/
    /*        "a a a a"*/
    /*        "a a a a"*/
    /*        "a a a a"*/
    /*        "a a a a"*/
    /*;*/
    /*grid-template-columns: 265px;*/
    /*grid-template-rows: 265px;*/
}

.map-sector {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 235px;
    height: 235px;
    background: white;

    transition: .2s ease;
}

.map-sector.--player-in {
    background: #fdd94d;
}

.map-sector:hover {
    background: #fdd94d;
}

.map-sector.--index-x::after {
    content: attr(data-label-y);

    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    text-transform: uppercase;
    font-weight: 700;

    color: white;
    background: black;
    border-radius: 50%;
}

.map-sector.--index-y::before {
    content: attr(data-label-x);

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    text-transform: uppercase;
    font-weight: 700;

    color: white;
    background: black;
    border-radius: 50%;
}


.map-pin {
    position: absolute;
    top: 40px;
    left: 120px;

    display: block;
    padding: 0;
    border: 10px solid transparent;
    border-top-color: black;

    font-size: 0;

    cursor: pointer;
    background: transparent;


    transition: .2s ease-in-out;
}

/*.map-sector__label {*/
/*    visibility: hidden;*/
/*    opacity: 0;*/

/*    position: absolute;*/
/*    right: 5px;*/
/*    bottom: 5px;*/
/*    z-index: 4;*/

/*    font-family: "JetBrains Mono", sans-serif;*/
/*    font-size: 14px;*/
/*    font-weight: 700;*/
/*    text-transform: uppercase;*/

/*    transition: .2s ease-in-out;*/
/*}*/

/*.map-sector__label::before {*/
/*    content: attr(data-sector);*/
/*}*/

/*.map-sector:hover .map-sector__label {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*}*/

.map-sector:hover .map-pin {
    z-index: 5;
    font-size: 10px;
}

.map-pin:hover {
    z-index: 6;
    transform: scale(1.3);
    background: #fdd94d;
    box-shadow: 0 0 0 4px #fdd94d;
}

.map__dunge-container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.map__dunge-setting {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;

    border-color: black;

    cursor: pointer;
}

.map__dunge-setting svg {
    fill: black;
}

.map__dunge-setting:hover {
    background: transparent;
}

.map__dunge-name {
    display: block;
    text-transform: uppercase;
}

.map-canvas .hud-btn {
    min-width: 30px;
    max-width: 30px;
    width: auto;
    height: 30px;
    padding: 4px;

    color: black;

    transition: .2s ease-in-out;
}

.map-canvas .hud-btn:hover {
    z-index: 5;
    transform: scale(1.3);
}
