.playlist {
    background: black;
}

#playlist {
    transform: translateY(-100%);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 41;

    /*background-color: var(--colors-bg--500);*/
    background-color: #191a1e80;
    background-image: radial-gradient( ellipse at 33% 10%, #461616 0%, transparent 75% );

    transition: .2s ease-in-out;
}

#playlist.--visible {
    transform: translateY(0);
}

.playlist {

    /*background: url("../../img/bg-matchmaking.jpg");*/
    background-size: cover;
    background-position: bottom center;
}

.playlist .hud-btn {
    position: absolute;
    left: 7px;
    top: 7px;
    z-index: 11;
}
