.playlist {
    background: black;
}

#playlist {
    transform: translateY(-100%);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 41;

    /*background-color: var(--colors-bg--500);*/
    background-color: #191a1e80;
    background-image: radial-gradient( ellipse at 33% 10%, #461616 0%, transparent 75% );

    transition: .2s ease-in-out;
}

#playlist.--visible {
    transform: translateY(0);
}

.playlist {

    /*background: url("../../img/bg-matchmaking.jpg");*/
    background-size: cover;
    background-position: bottom center;
}

.playlist .hud-btn {
    position: absolute;
    left: 7px;
    top: 7px;
    z-index: 11;
}

.playlist__albums-wrap {
}

.playlist__albums-list {
    display: flex;
    height: 98.7vh;
}

.playlist__album {
    flex-shrink: 0;
    width: 500px;
    height: 500px;
    padding: 0;
    border: none;
    margin: 20px;

    cursor: pointer;
    background: transparent;
}

.playlist__album.--current {
    /*box-shadow: inset 0 0 5px 0 #fed33f;*/
}

.playlist__album.--current .playlist__album-thumbnail {
    color: #fed33f;
}

.playlist__album-thumbnail {
    display: block;
    width: 100%;
    padding: 20px;

    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 20px;
    font-family: "Press Start 2p", "JetBrains Mono", monospace;
    transition: .2s ease;
}
