.quest {
    max-width: 480px;
    padding: 18px 30px;
}

.quest__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.quest__img {
    width: 50px;
    height: 96px;
}

.quest__title {
    margin: 5px 0;
    font-size: 24px;
    font-family: "JetBrains Mono", sans-serif;
}
