.squad-unit {
    position: absolute;
    left: 210px;
    bottom: 90px;
    z-index: 2;

    display: flex;
    min-height: 87px;

    transform: skewY(-4deg);
}

.squad-unit__lvl {
    position: absolute;
    left: 0;
    z-index: 23;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 77px;
    height: 77px;

    font-family: "Press Start 2p", "JetBrains Mono", monospace;
    font-size: 40px;
    color: white;
    line-height: 1.2;

    box-shadow: inset 0 0 0 5px white;
    background: black;

    transform: rotate(-45deg);
}

.squad-unit__lvl span {
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
}

.squad-unit__lvl.--double {
    font-size: 30px;
}

.squad-unit__lvl.--double span {
    position: relative;
    left: -10px;
    top: -2px;
}

.squad-unit__bars {
    display: flex;
    width: 400px;
    height: 34px;
    padding-left: 110px;
}

.squad-unit__bars-item + .squad-unit__bars-item {
    margin-left: 4px;
}

.squad-unit__bars-item {
    flex-grow: 1;
    height: 34px;

    background: white;
    opacity: .9;
    border-radius: 2px;
}

.squad-unit__name {
    width: 100%;
    padding-top: 15px;
    padding-left: 110px;
    margin: 0;

    font-family: "Press Start 2p", "JetBrains Mono", monospace;
    font-size: 18px;
    text-align: left;
    text-shadow: 4px 3px 0 black;

    /*background: rgba(0, 0, 0, .6);*/
}
