.talk {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1203;

    display: none;
    width: 100vw;
    height: 100vh;

    /*background: url("../../img/layout-dialog.jpg");*/
    background-size: contain;
    background-position: center;
}

.talk.--simple .talk__upper-space,
.talk.--simple .talk__right {
    display: none;
}

.talk.--open {
    display: flex;
}

.talk__upper-space {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    display: block;
    min-height: 205px;
    background: black;
}

.talk__upper-space::after {
    content: "";

    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;

    display: block;
    height: 3px;
    background: white;
}

.talk__footer {
    position: relative;
    z-index: 3;

    width: 100%;
    min-height: 205px;
    padding: 30px 40px;
    margin-top: auto;
    background: black;
}

.talk__footer::before {
    content: "";

    position: absolute;
    top: 3px;
    left: 0;
    right: 0;

    display: block;
    height: 3px;
    background: white;
}

.talk__text {
    /*width: 100%;*/
    margin: 0;

    font-family: "Press Start 2p", "JetBrains Mono", monospace;
    font-size: 34px;
    line-height: 1.5;
    text-shadow: 10px 10px 0 rebeccapurple;

    /*overflow: hidden;*/
}

.talk__options {
    position: absolute;
    top: -260px;
    left: 260px;
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    transform: skewY(-1.8deg) scale(1.02);
}

.talk__options.--visible {
    opacity: 1;
    visibility: visible;
}

.talk__optionsItem {
    max-width: 460px;
    padding: 20px;
    margin: 2px;

    font-family: "Press Start 2p", "JetBrains Mono", monospace;
    font-size: 1.6em;
    text-align: left;
    text-transform: lowercase;
    line-height: .7;
}

.talk__answer {
    position: absolute;
    top: -120px;
    left: 160px;
    opacity: 0;
    visibility: hidden;

    display: flex;
    transform: skewY(-1.8deg) scale(1.02);
}

.talk__answer.--visible {
    opacity: 1;
    visibility: visible;
}

.talk__answer-input {
    min-height: 50px;
    padding: 12px 20px;

    color: white;
    font-family: "Press Start 2P", "JetBrains Mono", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 38px;

    background: black;
}

.talk__answer-submit {
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 82px;
    padding: 7px;
    /* border-right: 2px solid var(--light-color); */

    overflow: hidden;
    cursor: pointer;

    color: white;
    font-family: "Press Start 2P", "JetBrains Mono", sans-serif;
    font-weight: 700;
    font-size: 22px;

    border-radius: 0;
}

/*.--typing-animation {*/
/*    animation: typing 8s steps(60, end);*/
/*}*/

/*@keyframes typing {*/
/*    0% {width: 0;}*/
/*    50% {width: 0;}*/
/*    100% {width: 100%;}*/
/*}*/

/*.talk__left {*/
/*    position: absolute;*/
/*    left: -130px;*/
/*    z-index: 2;*/

/*    height: 100vh;*/
/*    width: 40vw;*/
/*}*/

.talk__select {
    position: absolute;
    z-index: 2;

    height: 100vh;
    width: 40vw;
    padding-left: 290px;

    transform: translate(0, 250px);
}

.talk__right {
    position: absolute;
    right: -130px;
    z-index: 2;

    height: 100vh;
    width: 40vw;
}

.talk__right-background {
    position: relative;

    height: 100vh;
    transform: skewX(15deg);
    background: #00e48c;
}

.talk__right-background::before {
    content: "";

    position: absolute;
    top: 0;
    left: -3px;
    bottom: 0;

    display: block;
    width: 3px;
    background: white;
    box-shadow: 0 0 0 2px black;
}

.talk__card {
    position: absolute;
    right: 80px;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
}

.talk__key-tips {
    position: absolute;
    bottom: 7px;
    right: 7px;
    color: white;
    font-family: "JetBrains Mono", monospace;
}

.black-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 30;

    display: block;
    width: 100vw;
    height: 100vh;

    background: black;
}
