.tempo {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 2;

    display: flex;
    min-height: 287px;
    overflow: hidden;
    padding-left: 80px;

    transform: skewY(4deg);
}

.tempo__lvl {
    position: absolute;
    left: 80px;
    z-index: 23;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 277px;
    height: 277px;

    font-family: "Press Start 2p", "JetBrains Mono", monospace;
    font-size: 56px;
    color: white;
    line-height: 1.2;

    box-shadow: inset 0 0 0 5px white;
    background: black;
    border-radius: 50%;

    transform: rotate(-45deg);
}

.tempo__lvl span {
    width: 168px;
    height: 56px;
    text-align: center;
    transform: rotate(45deg);
}

.tempo__lvl.--double {
    font-size: 30px;
}

.tempo__lvl.--double span {
    position: relative;
    left: -10px;
    top: -2px;
}

.tempo__lvl.--triple {
    font-size: 30px;
}

.tempo__lvl.--triple span {
    position: relative;
    left: -10px;
    top: -2px;
}

.tempo__stock {
    display: flex;
    width: 240px;
    height: 6px;

    transform: rotate(-108deg) translate(-70px, -189px);
}

.tempo__stock-item + .tempo__stock-item {
    margin-left: 4px;
}

.tempo__stock-item {
    flex-grow: 1;
    height: 6px;

    background: white;
    opacity: .9;
    border-radius: 2px;
}

.tempo__stock-item.--transparent {
    background: transparent;
}

.tempo__name {
    width: 100%;
    padding-top: 15px;
    padding-left: 110px;
    margin: 0;

    font-family: "Press Start 2p", "JetBrains Mono", monospace;
    font-size: 18px;
    text-align: left;
    text-shadow: 4px 3px 0 black;

    /*background: rgba(0, 0, 0, .6);*/
}

.tempo__points {
    display: flex;
    width: 300px;
    height: 34px;

    clip-path: polygon(2% 77%, 9% 57%, 100% 33%, 98% 86%);
    transform: rotate(-106deg) translate(-65px, -200px);
}

.tempo__points-item + .tempo__points-item {
    margin-left: 4px;
}

.tempo__points-item {
    flex-grow: 1;
    height: 34px;

    background: white;
    opacity: .9;
    border-radius: 2px;
}

.tempo__points-item.--transparent {
    background: transparent;
}
