.wall {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    transform: translateY(0) scale(1);

    background-attachment: fixed;
    background-image: url(../../img/bg-wall.jpg);
    /*background-image: url(../../img/layout-week.png);*/
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;

    transition: 1.2s ease-in-out;
}

.wall.--sprayable:hover {
    cursor: url("../../img/icon-spray@52px.png"), pointer;
}

.wall.--open {
    transform: translateY(280%) translateZ(200px) scale(1.3);
}
