.wall {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    transform: translateY(0) scale(1);

    background-attachment: fixed;
    background-image: url(../../img/bg-wall.jpg);
    /*background-image: url(../../img/layout-week.png);*/
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;

    transition: 1.2s ease-in-out;
}

.wall.--sprayable:hover {
    cursor: url("../../img/icon-spray@52px.png"), pointer;
}

.wall.--open {
    transform: translateY(280%) translateZ(200px) scale(1.3);
}

.spray {
    position: absolute;

    display: block;
    width: 100px;
    height: 30px;

    background: transparent;
    background-repeat: no-repeat;
    background-size: contain;

    transition: .2s ease-in-out;
    animation: drying 3s ease-in-out;
}

.spray.--0 {
    width: 100px;
    height: 84px;
    background-image: url("../../img/sprays/spray-0.png");
}

.spray.--1 {
    width: 391px;
    height: 327px;
    background-image: url("../../img/sprays/spray-1.png");
}

.spray.--2 {
    width: 391px;
    height: 760px;
    background-image: url("../../img/sprays/spray-2.png");
}

.spray.--3 {
    width: 520px;
    height: 555px;
    background-image: url("../../img/sprays/spray-3.png");
}

.spray.--4 {
    width: 420px;
    height: 454px;
    background-image: url("../../img/sprays/spray-4.png");
}

.spray.--5 {
    width: 600px;
    height: 162px;
    background-image: url("../../img/sprays/spray-5.png");
}

.spray.--6 {
    width: 240px;
    height: 115px;
    background-image: url("../../img/sprays/spray-6.png");
}

.spray.--drying {
    animation: drying 2s ease-in-out;
}

@keyframes drying {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
