.week-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    transform: translateY(0) scale(1);


    /*background-image: url(../../img/bg-wall.jpg);*/
    /*background-image: url(../../img/layout-week.png);*/

    /*color: var(--colors-on_bg--500);*/
    color: white;
    cursor: pointer;

    transition: 1.2s ease-in-out;

    background-color: var(--colors-bg--500);
    background-image: radial-gradient( ellipse at 33% 10%, #461616 0%, transparent 75% );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    overflow: hidden;
}

.week-wrap::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    background: url("../../img/bg-asphalt.jpg");
    background-size: cover;
    opacity: .2;
}

.week {
    position: relative;

    font-family: "Press Start 2p", "JetBrains Mono", monospace;
}

.week__title {
    position: relative;
    z-index: 1;

    font-size: 362px;
    margin: 0;
    margin-top: 120px;

    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    text-shadow: var(--ui-glow-text--dimmed);

    transform: rotate(-.33deg);
}

.week__title.--large {
    /*font-size: 342px;*/
    font-size: 292px;
}

.week__main {
    position: relative;

    display: flex;
    flex-direction: column;
    max-width: 2210px;
    width: 100%;
    height: 675px;
    margin: 0 auto;
}

.week__main .swiper.--week {
    margin-top: auto;
}

.week__tab-list {
    position: absolute;
    top: 0!important;
    left: 0;
    right: 50%;

    display: flex;
    width: 100%;
    max-width: 55%;
    padding: 5px;
    border-radius: 3px;

    background: #000000b8;
}

.week__tab-item {
    max-width: 200px;
    width: 100%;
    padding: 0;
    border: none;

    color: white;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 34px;
    font-weight: 500;
    text-align: center;

    background: transparent;
    cursor: pointer;

    transition: .2s ease;
}

.week__tab-item.--current,
.week__tab-item:hover {
    box-shadow: inset 0 0 0 2px white;
}

.week__event {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    display: block;
    width: 470px;
    height: 470px;
    border: 3px dashed white;
}

.week__car-preview {
    position: absolute;
    right: 120px;
    top: 230px;
    z-index: 1;
    transform: scale(1.2);
}
