.your-day {
    display: flex;
    flex-direction: column;
}

.your-day__first {
    position: relative;

    display: flex;
    align-items: center;
    width: 100%;
    height: 125px;
    padding-left: 90px;
    margin-bottom: 5px;

    font-size: 40px;

    background: #000000b8;
}

.your-day__first::before {
    content: "";

    position: absolute;
    left: 7px;
    top: 20px;

    display: block;
    width: 70px;
    height: 70px;

    background: url("../../img/icon-sun.png");
    background-size: cover;
}

.your-day__first.--cross::after {
    content: "";

    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -30px;
    z-index: 2;

    display: block;
    width: 120%;
    height: 120%;

    background-image: url("../../img/bg-cross.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.your-day__second.--round::after {
    content: "";

    position: absolute;
    top: -10px;
    right: -10px;
    bottom: 0;
    left: 0;
    z-index: 2;

    display: block;
    width: 100%;
    height: 100%;

    background-image: url("../../img/bg-round.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.your-day__second {
    position: relative;

    width: 100%;
    height: 100%;

    background: #000000b8;
}

.your-day__second::before {
    content: "";

    position: absolute;
    left: 15px;
    top: 28px;

    display: block;
    width: 50px;
    height: 50px;

    background: url("../../img/icon-moon.png");
    background-size: cover;
}

.your-day__label {
    padding-top: 100px; /*t*/
    padding-bottom: 200px; /*t*/
    padding-left: 15px;

    font-family: "Press Start 2p", "JetBrains Mono", monospace;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
}

.your-day-next,
.your-day-prev {
    /*position: absolute;*/

    display: block;
    /*width: 50px;*/
    height: 36px;
    margin: 7px;

    color: black;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;

    background: white;
    border-radius: 3px;
    cursor: pointer;
}



.your-day-next.swiper-button-disabled,
.your-day-prev.swiper-button-disabled {
    opacity: .7;
    cursor: auto;
}

.your-day-prev {
    top: 0!important;
    left: 0;
}
.your-day-next {
    top: 0!important;
    left: 50%;
}
